

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  font-size: 62.5%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// @media (max-width: 1199px) {
//     html {
//         font-size:59.375%
//     }
// }
//
// @media (max-width: 999px) {
//     html {
//         font-size:58.25%
//     }
// }
//
// @media (max-width: 799px) {
//     html {
//         font-size:56.125%
//     }
// }
//
// @media (max-width: 599px) {
//     html {
//         font-size:54%
//     }
// }
//
// @media (max-width: 399px) {
//     html {
//         font-size:52.25%
//     }
// }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
    background-color: $body-bg;
}

body {
  font-family: $font-family-base;
  color: $body-color;
  @include font-smoothing;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  &.overflow-hidden {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
  }
}

::-moz-selection {
  color: $white;
  background-color: $brand;
  text-shadow: none;
}

::selection {
  color: $white;
  background-color: $brand;
  text-shadow: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

/* Abbreviations*/
abbr[title],
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dt {

}

dd {
  margin-bottom: .5rem;
  margin-left: 0; /* Undo browser default*/
}

blockquote {
  margin: 0 0 1rem;
}

/**/
/* Links*/
/**/

a {
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    -moz-outline-style: none;
    outline: 0;
  }
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
    -moz-outline-style: none;
    outline: 0;
  }

  &:focus {
    -moz-outline-style: none;
    outline: 0;
  }
}

/**/
/* Code*/
/**/

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}


/**/
/* Figures*/
/**/

figure {
  margin: 0 0 1rem;
}

/**/
/* Images*/
/**/

img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* iOS "clickable elements" fix for role="button"*/
[role="button"] {
  cursor: pointer;
}


/* Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.*/
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}


/**/
/* Forms*/
/**/
label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}
