@font-face {
    font-family: 'KalatexaDisplay_regular';
    src: url('../fonts/KalatexaDisplay_regular.eot');
    src: url('../fonts/KalatexaDisplay_regular.woff') format('woff'), url('../fonts/KalatexaDisplay_regular.ttf') format('truetype'), url('../fonts/KalatexaDisplay_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
input {
    font-family: "Calibre-Regular", "KalatexaDisplay_regular", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "MillerBanner-Roman", "KalatexaDisplay_regular", sans-serif;
}

p b, p strong {
    font-family: "Calibre-Medium", "KalatexaDisplay_regular", sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "Calibre-Regular", "KalatexaDisplay_regular", sans-serif;
}

.footer .footer-newsletter h4 {
    font-family: "Calibre-Regular", "KalatexaDisplay_regular", sans-serif;
}

.section-about .weather .weather-top span {
    font-family: "MillerBanner-Roman", "KalatexaDisplay_regular", sans-serif;
}

.section-about .weather .weather-bottom span {
    font-family: "MillerBanner-Roman", "KalatexaDisplay_regular", sans-serif;
}

.section-about .weather .weather-bottom p {
    font-family: "MillerBanner-Roman", "KalatexaDisplay_regular", sans-serif;
}

.location-3 .c-block-content h5 {
    font-family: "Calibre-Regular", "KalatexaDisplay_regular",sans-serif;
}

.development .development-slider .ratio-development .c-block-content .c-block-title {
    font-family: "Avenir-Book", "KalatexaDisplay_regular", sans-serif;
}

.btn:before {
    border: 1px solid currentColor;
}
.link-gallery {
    z-index: 1000;
}

.btn-action-xs {
    width: 70px;
}

@media(min-width: 992px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
@media(max-width: 991px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

/*luxury download brochure*/

.luxury-concept .row-download{
    padding-bottom: 5px;
}
.luxury-concept .img-download{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: initial;
}

.luxury-concept .p-download{
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

@media (max-width: 991px){
    .luxury-concept .row-download{
        text-align: center;
    }

}

/*private country download brochure*/

.private-country-club.row-download{
    text-align: right;
    position: relative;
    bottom: -29px;
}
.private-country-club .img-download{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: initial;
}

.private-country-club .p-download{
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    font-size: 14px;
}

@media (max-width: 1366px) and (min-width: 992px) {
    .private-country-club.row-download{
        text-align: right;
        position: relative;
        bottom: -37px;
    }
}


#promotion-modal [b-slider] {
    max-width:1200px;
    margin:0 auto;
}

.water-sport .water-sport-slider .ratio-water-sport-slide .c-block-content .c-block-title {
    font-family: "Avenir-Book", "KalatexaDisplay_regular", sans-serif;
}

header.is-fixed .main-menu-container {
    padding-top: 31px;
}

body.joinme {
    font-family: "Calibre-Regular", "KalatexaDisplay_regular", sans-serif;
}

.main-menu a {
    padding-top: 4px;
    color: #6b615c;
}
