.btn:before {
    border: 1px solid currentColor;
}
.link-gallery {
    z-index: 1000;
}
@media(min-width: 992px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .section-hero .hero-full figure img {
        padding-top: 80px;
    }
    .private-country-club .container-fluid {
        margin-top: 80px;
    }
    .private-country-club .hero-content h1 {
        margin-top: 0;
    }
    .private-country-club figure::after {
        height: auto;
    }
    .private-country-club .hero-content {
        padding-top: 60px;
    }
    .section-hero.private-country-club .hero-block {
        height: calc(100vh - 252px);
    }
}
@media(max-width: 991px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .section-hero .hero-full figure img {
        padding-top: 0;
    }
    .section-hero .hero-video video {
        padding-top: 0;
    }
    .private-country-club .container-fluid {
        margin-top: 0;
    }
    .private-country-club .hero-content h1 {
        margin-top: 30px;
    }
    .private-country-club figure::after {
        height: auto;
    }
    .private-country-club .hero-content {
        padding-top: 0;
    }
}