
.section-hero {
  // padding-top: 157px;
  .hero-block {
    position: relative;
    width: 100%;

    overflow: hidden;
    // margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      height: calc(100vh - 172px);
    }
  }
  .hero-full {
    position: relative;
          width: 100%;
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    figure {
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #fff;
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      @include media-breakpoint-down(md) {
        position: relative;
        width: 100%;
      }


      &:before {
        @include media-breakpoint-down(md) {
          display: block;
          content: "";
          width: 100%;
          // padding-top: percentage(1192 / 2672);
          padding-top: percentage(468 / 610);
        }
      }
      img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }
  }


  .hero-video-wrapper {
      @include media-breakpoint-down(md) {
        position: relative;
      }
  }
  .hero-video {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
      overflow: hidden;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      &:before {
        display: block;
        content: "";
        width: 100%;
        // padding-top: percentage(1192 / 2672);
        padding-top: percentage(468 / 610);

      }
    }
    video {
      @include media-breakpoint-up(lg) {
        position: absolute;
        // top: 50%;
        top: 0;
        left: 50%;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        -webkit-transform: translate(-50%,0);
        transform: translate(-50%,0);
      }
      @include media-breakpoint-down(md) {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%,-50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    // .video-bg {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   img {
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     -o-object-fit: cover;
    //     object-fit: cover;
    //     -o-object-position: center;
    //     object-position: center;
    //   }
    // }
  }
}
