.join-me-page{
  // header{
  //   background-color: transparent;
  //   position: static;
  //   text-align: center;
  //   .logo{
  //     margin: 65px 0;
  //     display: inline-block !important;
  //     @include media-breakpoint-down(md) {
  //       margin: 30px 0;
  //     }
  //   }
  // }
  // main{
  //   padding-top: 0 !important;
  // }

  .enter-bt{
    background-color: rgba(#fff,0.8);
    color: #09708e !important;
    display: block;
    width: 100%; height: 36px;
    max-width: 272px;
    padding-left: 20px;  padding-right: 60px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.15em;
    position: relative;
    &:after{
      content: "\e904";
      font-family: 'ms' !important;
      font-size: 24px;
      line-height: 14px;
      position: absolute;
      right: 24px; top: 50%;
      margin-top: -7px;
    }
  }

  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}

.join-me-hero{
  .headline{
    h1{
      font-size: 72px;
      margin-bottom: 0.625em;

      @include media-breakpoint-down(md) {
        font-size: 57.6px;
      }
    }
  }
  .card{
    max-width: 250px;
    margin: 0 auto;
    img{
      margin: 0 auto;
    }
    small{
      position: relative;
      top: -19px;
      font-size: 12px;
      color: #726b67;
    }
  }
}

.join-me-banner{
  margin-bottom: 65px;
  .slick-slide{
    img{
      width: 100%;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.join-me-celeb{
  .headline{
    text-align: center;
    margin-bottom: 45px;
    span{
      display: block;
    }
    .txt-1{
      color: $brand;
      font-size: 28px;
    }
    .txt-2{
      color: $body-color;
      font-size: 40px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      .txt-1{
        font-size: 22px;
      }
      .txt-2{
        font-size: 32px;
      }
    }
  }
  .container-fluid{
    position: relative;
  }
  .celeb-container{
    font-size: 0;
    text-align: center;
    > * {
      display: inline-block;
      vertical-align: top;
      padding: 7px;
      width: 33.333333333333336%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      img{
        width: 100%;
      }
    }
    .celeb-item{
      -webkit-transition-property: margin-bottom;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: linear;

      transition-property: margin-bottom;
      transition-duration: .3s;
      transition-timing-function: linear;
    }

    .celeb-thumb{
      position: relative;
      overflow: hidden;
      img{
        -webkit-transform: scale(1);
        transform: scale(1);

        -webkit-transition-property: transform;
        -webkit-transition-duration: 0.9s;
        -webkit-transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);

        transition-property: transform;
        transition-duration: 0.9s;
        transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);
      }
      .thumb-overlay{
        background-color: rgba($brand,0);
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;

        -webkit-transition-property: background-color;
        -webkit-transition-duration: 0.9s;
        -webkit-transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);
        .inner > *{
          opacity: 0;
          transform: translate3d(0,50px,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: 0.6s;
          -webkit-transition-timing-function: $easeOutCubic;

          transition-property: transform,opacity;
          transition-duration: 0.6s;
          transition-timing-function: $easeOutCubic;
        }
        .arrow-down{
          position: relative;
          display: inline-block;
          margin-top: 22px;
          &:after{
            content: '';
            border-top: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
          }
        }
      }
      &:hover{
        img{
          -webkit-transform: scale(1.05);
          transform: scale(1.05);

          -webkit-transition-property: transform;
          -webkit-transition-duration: 0.9s;
          -webkit-transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);

          transition-property: transform;
          transition-duration: 0.9s;
          transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);
        }
        .thumb-overlay{
          background-color: rgba($brand,0.8);

          -webkit-transition-property: background-color;
          -webkit-transition-duration: 0.9s;
          -webkit-transition-timing-function: cubic-bezier(0.18, 1, 0.21, 1);

          .inner > * {
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

            -webkit-transition-property: transform,opacity;
            -webkit-transition-duration: 0.6s;
            -webkit-transition-timing-function: $easeOutCubic;

            transition-property: transform,opacity;
            transition-duration: 0.6s;
            transition-timing-function: $easeOutCubic;
            &.arrow-down{
              -webkit-transition-delay: .1s;
              transition-delay: .1s;
            }
          }
        }
      }
    }

    .celeb-content-container{
      display: none;
      position: absolute;
      left: 0;
      background-color: #e1e1e1;
      width: 100%;
      padding: 15px;
      margin: 15px 0;

      .celeb-content{
        max-width: 80%;
        margin: 0 auto;
        font-size: 0;
        @include media-breakpoint-down(md) {
          max-width: none;
        }
        > * {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        .content-text{
          padding: 15px;
          text-align: left;
          .name{
            color: $body-color;
            span{
              display: block;
              font-size: 14px;
              text-transform: uppercase;
              line-height: 2em;
            }
          }
          blockquote{
            color: $brand;
            margin: 25px 0 15px;
          }
        }
      }
      .vdo-button{
        cursor: pointer;
        background-color: transparent;
        border: 0;
        outline: 0;
        width: 35px; height: 27px;
        background-image: url(../img/join-me/vdo-bt.png);
        background-repeat: no-repeat;
        &:hover{
          background-image: url(../img/join-me/vdo-bt-hover.png);
        }
      }
    }
  }
}

.join-me-contact{
  .join-me-form-container{
    max-width: 66.66666666666667%;
    padding: 25px 15px 55px;
    margin: 94px auto 85px;
    border: 2px solid $brand;
    position: relative;
    overflow: visible;
    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }
  .join-me-title{
    position: absolute;
    font-size: 20px;
    left: -2px; bottom: 100%;
    color: $white;
    text-transform: uppercase;
    background-color: $brand;
    padding: 10px 20px;
  }
}


.thank-modal{
  .content{
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 888px;
    padding: 55px 10px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      right: -64px; top: 0;
      width: 100%; height: 100%;
      opacity: 0.2;
      background-image: url(../img/bg/screen-logo.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: left center;
    }
    .inner-content{
      position: relative;
      > * {
        color: #000;
        margin: 0;
        &:first-child{
          margin-bottom: 20px;
        }
        a{
          color: #000;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      button{
        font-family: $font-calibre;
        font-size: 14px;
        padding: 8px 20px 3px;
        margin-top: 25px;
        width: 100%;
        max-width: 110px;
        background-color: #fff;
        color: $brand;
        border: 2px solid $brand;
        cursor: pointer;
        outline: none;

        -webkit-transition-property: color,background-color;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        transition-property: color,background-color;
        transition-duration: .3s;
        transition-timing-function: ease;

        &:hover{
          background-color: $brand;
          color: #fff;

          -webkit-transition-property: color,background-color;
          -webkit-transition-duration: .3s;
          -webkit-transition-timing-function: ease;

          transition-property: color,background-color;
          transition-duration: .3s;
          transition-timing-function: ease;
        }
      }
    }
  }

  // animation
  .content{
    transform: translate3d(0,50px,0);
    opacity: 0;
  }
  &.is-visible{
    .content{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: opacity,-webkit-transform;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: opacity,transform;
      transition-duration: .6s;
      transition-timing-function: $easeOutCubic;
    }
  }
}
