.luxury-banner{
  .hero-content{
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    top: 75%;
    .txt-2{
      padding-left: 1.5em;
    }
  }
}

.luxury-concept{
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  .luxury-logo{
    opacity: 0.2;
    position: absolute;
    top: 50%; right: -184px;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  h3{
    color: #726b67;
  }
  p:first-child{
    margin-top: 0;
  }

}

.luxury-award{
  .hero-content{

    .txt-2{
      padding-left: 1.5em;
    }
  }
}

.luxury-vdo{
  video{
    max-width: 100%;
  }
}
