
.events-and-activities {
  padding-top: 15px - 7.5;

  .btn-events {
    margin-bottom: 45px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .events-and-activities-wrapper {
    font-size: 0;
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding-bottom: 45px - 7.5;
    @include media-breakpoint-down(sm) {
      padding-bottom: 30px - 7.5;
    }
  }
  .c-block-events {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(xl) {
      width: 33.33333%;
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: percentage(280 / 440);
    }
    .c-block-inner {
      position: absolute;
      width: calc(100% - 15px);
      height: calc(100% - 15px);
      left: 7.5px;
      top: 7.5px;
    }
    figure {
      height: 100%;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
      .c-block-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 40px 35px;
        text-align: center;
        z-index: 1;
        background-color: rgba($brand,0.8);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: .9s cubic-bezier(.18,1,.21,1);
        transition: .9s cubic-bezier(.18,1,.21,1);
        opacity: 0;
        visibility: hidden;

        @include media-breakpoint-down(sm) {
          padding: 30px;
        }
        .events-content {
          opacity: 0;
          -webkit-transform: translateY(125%);
          transform: translateY(125%);
          position: relative;
          &:after {
            content: "";
            position: absolute;
            @include center(x);
            top: 100%;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
            /* margin-top: 9px;*/
            @include fp(margin-top, 9/2, 9);
          }
        }
        .events-date {
          font-size: 22px;
          @include fp(font-size, 22/2, 22);
        }
        p {
          min-height: (18px * 1.25) * 3;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &.c-block-events-lg {
      width: 100%;
      @include media-breakpoint-up(xl) {
        width: 66.66667%;
      }
      &:before {
        @include media-breakpoint-up(md) {
          padding-top: percentage(280 / 881);
        }
      }

      figure {
        img {
          @include media-breakpoint-up(md) {
            -o-object-position: 0 25%;
            object-position: 0 25%;
          }
        }
      }
    }
    &.c-block-top {
      figure {
        img {

          -o-object-position: top;
          object-position: top;

        }
      }
    }
    &:hover {
      figure {
        .c-block-content {
          opacity: 1;
          visibility: visible;
          .events-content {
            -webkit-animation: HoverFadeIn 0.6s;
            animation: HoverFadeIn 0.6s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          .events-content {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
          }
        }
      }
    }
  }

  /* animation*/
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    -webkit-transition-property: opacity,-webkit-transform;

    transition-property: opacity,-webkit-transform;

    transition-property: transform,opacity;

    transition-property: transform,opacity,-webkit-transform;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      -webkit-transition-property: opacity,-webkit-transform;

      transition-property: opacity,-webkit-transform;

      transition-property: transform,opacity;

      transition-property: transform,opacity,-webkit-transform;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}



.construction-update {
  padding-bottom: 85px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 15px;
  }
  .headline {
    padding-top: 45px - 1;
    padding-bottom: 45px - 3;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 30px - 2;
    }
    span {
      color: #86786f;
    }

    /* animation*/
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    -webkit-transition-property: opacity,-webkit-transform;

    transition-property: opacity,-webkit-transform;

    transition-property: transform,opacity;

    transition-property: transform,opacity,-webkit-transform;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      -webkit-transition-property: opacity,-webkit-transform;

      transition-property: opacity,-webkit-transform;

      transition-property: transform,opacity;

      transition-property: transform,opacity,-webkit-transform;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }

  .construction-slider {
    overflow: hidden;
    .slick-list {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }
    .slick-slide {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
    .slick-prev {
      left: 15px;
      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }
    .slick-next {
      right: 15px;
      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }
    .ratio-construction {
      &:after {
        content: "";
        position: absolute;
        width: calc(100% - 15px);
        height: 100%;
        left: 7.5px;
        top: 0;
        background-color: #726b67;
        opacity: 0.8;
        // visibility: visible;
        z-index: 1;

        -webkit-transition-property: opacity;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        transition-property: opacity;
        transition-duration: .3s;
        transition-timing-function: ease;
      }
      figure {
        &:before {
          padding-top: percentage(488 / 883);
        }
      }
      &.slick-current {
        &:after {
          opacity: 0;
          // visibility: hidden;
          // z-index: -1;

          -webkit-transition-property: opacity;
          -webkit-transition-delay: .5s;
          -webkit-transition-duration: .3s;
          -webkit-transition-timing-function: ease;

          transition-property: opacity;
          transition-delay: .5s;
          transition-duration: .3s;
          transition-timing-function: ease;
        }
        .c-block-content {
          opacity: 1;
        }
      }

      .c-block-content {
        height: auto;
        top: auto;
        left: auto;
        padding: 20px 30px;
        padding-bottom: 20px - 8;
        text-align: left;

        @include media-breakpoint-up(md) {
          opacity: 0;
          background: rgba(#004c6f, .5);
          right: 7.5px;
          bottom: 20px;
          width: auto;
        }
        @include media-breakpoint-down(sm) {
          position: relative;
          right: auto;
          bottom: auto;
          width: 100%;
          background-color: #6ca0a3;
        }
        @include media-breakpoint-down(xs) {
          padding-left: 15px;
          padding-right: 15px;
        }
        * {
          //@include media-breakpoint-up(md) {
          color: $white !important;
          ///}
          // @include media-breakpoint-down(sm) {
          //   color: #726b67 !important;
          // }
        }
        .construction-title {
          @include fp(font-size, 12, 16);
          margin-bottom: 20px - 3;
          // @include media-breakpoint-down(sm) {
          //   color: $white !important;
          // }
        }

        .construction-list{
          margin: 0;
          margin-bottom: 20px - 9;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            margin: 0;
          }
          ul {
            li {
              @include fp(font-size, 12, 16);
              font-weight: normal;
              line-height: 1.25;
            }
          }
          span.space {
            padding-left: 15px;
            padding-right: 15px;
            @include media-breakpoint-down(xs) {
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }

      }
    }

    /* animation*/
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    -webkit-transition-property: opacity,-webkit-transform;

    transition-property: opacity,-webkit-transform;

    transition-property: transform,opacity;

    transition-property: transform,opacity,-webkit-transform;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      -webkit-transition-property: opacity,-webkit-transform;

      transition-property: opacity,-webkit-transform;

      transition-property: transform,opacity;

      transition-property: transform,opacity,-webkit-transform;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}
