
//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  letter-spacing: 0.05em;
  margin: 0;
  b, strong {
    font-family: $font-millerbanner-semibold;
    font-weight: normal;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }
h1, .h1 {
  @include fp(font-size, 25, 50);
}
h2, .h2 {
  @include fp(font-size, 22.5, 45);
}
h3, .h3 {
  @include fp(font-size, 20, 40);
}
h4, .h4 {
  @include fp(font-size, 13.5, 27);
}
h5, .h5 {
  @include fp(font-size, 12, 24);
}
h6, .h6 {
  @include fp(font-size, 9, 18);
}
p {
  color: #877e79;
  // font-size: $font-size-base;
  @include fp(font-size, 12, 16);
  font-weight: normal;
  line-height: 1.25;
  // line-height: $line-height-base;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 17px;
  b, strong {
    font-family: $font-calibre-medium;
    font-weight: normal;
  }
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

ol, ul {
  li {
    strong {
      font-weight: normal;
    }
  }
}

//
// Horizontal rules
//

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: normal;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}
