

/* Header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 0 15px;*/
  font-size: 0;
  background-color: $white;
  z-index: 9999;
  visibility: visible;;
  opacity: 1;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    position: fixed;

    .main-menu-container{
      display: none;
    }
  }

  .header-bottom {
    @include media-breakpoint-up(lg) {
      position: static;
    }
  }
  &:not(.is-fixed) {
    @include media-breakpoint-up(lg) {
      .header-bottom {
        width: 100% !important;

      }
    }
  }

  .header-top {
    @include media-breakpoint-down(md) {
      @include clearfix;
    }
  }


  /* &:after {*/
  /*   content: "";*/
  /*   position: absolute;*/
  /*   right: 0;*/
  /*   bottom: 0;*/
  /*   left: 0;*/
  /*   height: 1px;*/
  /*   background-color: #ccc;*/
  /*   display: none;*/
  /* }*/
}

.logo {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
.logo-icon {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 15px 15px;
  width: 54px;
  height: 50px;
  z-index: 2;
  @include media-breakpoint-down(md) {
    display: block;
    float: left;
    position: relative;
    margin: 10px 0;
    width: auto;
    height: auto;
    img {
      height: 40px;
    }
  }
}

.menu-top {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 35px 15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
        &:after {
          content: "";
          position: absolute;
          top: -4px;
          right: -20px;
          display: block;
          background-image: url(../img/icons/icon-line.svg);
          background-repeat: no-repeat;
          width: 10px;
          height: 21px;
        }
        &:first-child,
        &:last-child {
          margin-right: 0;
          &:after {
            content: none;
          }
        }
        a {
          display: block;
          &.join-me-bt{
            font-size: 13.66px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: 0.05em;
            background-color: $brand;
            color: #fff;

            height: 22px;
            padding: 0 12px;
            padding-top: 5px;
            margin-right: 30px;

            position: relative;
            top: -1px;

            -webkit-transition-property: background-color,color;
            -webkit-transition-duration: .3s;
            -webkit-transition-timing-function: ease;

            transition-property: background-color,color;
            transition-duration: .3s;
            transition-timing-function: ease;

            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background-color: currentColor;
              -webkit-transform-origin: right top;
              transform-origin: right top;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition-property: -webkit-transform;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform, -webkit-transform;
              -webkit-transition-duration: 0.75s;
              transition-duration: 0.75s;
              -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
              transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }
            span {
              position: relative;
              z-index: 1;
            }
            &:hover{
              span {
                color: $brand;
              }
              &:after {
                -webkit-transform-origin: left top;
                transform-origin: left top;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
          }
        }
        i {
          font-size: 18px;
          line-height: 12px;
        }
      }
    }
  }
}



// SOCIAL
.menu-social-link {
  display: none;
  @include media-breakpoint-down(md) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 0;
    display: block;
    text-align: right;
    /* @include fp(height,50,100);*/
    /* @include fp(padding-left,25,50);*/
    /* @include fp(padding-right,25,50);*/
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($white, 0.5);
    }
    a {
      display: inline-block;
      vertical-align: middle;
      color: $white;
      font-size: 30px;
      /* @include fp(font-size,22,44);*/
      line-height: 1;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }

      i {
        display: block;
      }
    }
  }
}



header.is-fixed {
  @include media-breakpoint-up(lg) {
    position: fixed;
    text-align: left;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

    -webkit-animation-name: ms-header-anim;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: $easeOutQuint;
    -webkit-animation-fill-mode: both;

    animation-name: ms-header-anim;
    animation-duration: .6s;
    animation-timing-function: $easeOutQuint;
    animation-fill-mode: both;

    .logo {
      display: none;
    }
    .logo-icon {
      display: block;
    }
    .main-menu-container {
      margin-left: 69px;
      margin-right: 77px;
      padding-top: 35px;
      /* padding-bottom: 30px;*/
      position: static;

    }
    .main-menu  {
      max-width: 848px;
      margin-left: 0;
      /* li {*/
      /*   margin-right: 40px;*/
      /* }*/
      li{
        padding-bottom: 30px;
      }
    }

    .menu-top{
      padding: 28px 15px;
    }
  }

  @include media-breakpoint-up(xl) {
    .main-menu-container {
      margin-left: 119px;
    }
  }

  > *{
    -webkit-transform: none !important;
    transform: none !important;
  }
}

@-webkit-keyframes ms-header-anim {
  0%{
    -webkit-transform: translate3d(0,-100%,0);
  }
  100%{
    -webkit-transform: translate3d(0,0,0);
  }
}

@keyframes ms-header-anim {
  0%{
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  100%{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}


/* Hamburger*/
.hamburger {
  // position: relative;
  // float: right;
  // width: 33px;
  position: fixed;
  top: 0;
  right: 0;
  width: 63px;
  height: 60px;
  cursor: pointer;
  z-index: 9999;
  /* position: fixed;*/
  /* top: 0;*/
  /* right: 0;*/
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  .hamburger-outer {
    height: 100%;
  }
  .hamburger-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 33px;
    height: 22px;
    cursor: pointer;
  }
  .hamburger-line {
    position: relative;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    background: $brand;
    -webkit-transition: all 0ms .3s,background 1.33s cubic-bezier(.075,.82,.165,1);
    transition: all 0ms .3s,background 1.33s cubic-bezier(.075,.82,.165,1);
    width: 100%;
    height: 3px;
    &:before, &:after {
      width: 100%;
      height: 3px;
      background: $brand;
      left: 0;
      content: "";
      position: absolute;
    }
    &:before {
      bottom:10px;
      -webkit-transition: bottom .3s cubic-bezier(.075,.82,.165,1) .3s,background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
      transition: bottom .3s cubic-bezier(.075,.82,.165,1) .3s,background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
      transition: bottom .3s cubic-bezier(.075,.82,.165,1) .3s,transform .3s cubic-bezier(.075,.82,.165,1),background 1.33s cubic-bezier(.075,.82,.165,1);
      transition: bottom .3s cubic-bezier(.075,.82,.165,1) .3s,transform .3s cubic-bezier(.075,.82,.165,1),background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
    }
    &:after {
      top: 10px;
      -webkit-transition: top .3s cubic-bezier(.075,.82,.165,1) .3s,background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
      transition: top .3s cubic-bezier(.075,.82,.165,1) .3s,background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
      transition: top .3s cubic-bezier(.075,.82,.165,1) .3s,transform .3s cubic-bezier(.075,.82,.165,1),background 1.33s cubic-bezier(.075,.82,.165,1);
      transition: top .3s cubic-bezier(.075,.82,.165,1) .3s,transform .3s cubic-bezier(.075,.82,.165,1),background 1.33s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1);
    }
  }

  &.is-active {
    .hamburger-line {
      background: hsla(0,0%,100%,0);
      &:before {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: bottom .3s cubic-bezier(.075,.82,.165,1),background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        transition: bottom .3s cubic-bezier(.075,.82,.165,1),background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        transition: bottom .3s cubic-bezier(.075,.82,.165,1),transform .3s cubic-bezier(.075,.82,.165,1) .3s,background .3s cubic-bezier(.075,.82,.165,1);
        transition: bottom .3s cubic-bezier(.075,.82,.165,1),transform .3s cubic-bezier(.075,.82,.165,1) .3s,background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        background: #fff;
      }
      &:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top .3s cubic-bezier(.075,.82,.165,1),background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        transition: top .3s cubic-bezier(.075,.82,.165,1),background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        transition: top .3s cubic-bezier(.075,.82,.165,1),transform .3s cubic-bezier(.075,.82,.165,1) .3s,background .3s cubic-bezier(.075,.82,.165,1);
        transition: top .3s cubic-bezier(.075,.82,.165,1),transform .3s cubic-bezier(.075,.82,.165,1) .3s,background .3s cubic-bezier(.075,.82,.165,1),-webkit-transform .3s cubic-bezier(.075,.82,.165,1) .3s;
        background: #fff;
      }
    }
  }

  /* animation*/
  /* opacity: 0;*/
  /* &.hamburger-is-active{*/
  /*   opacity: 1;*/
  /*   -webkit-transition-property: opacity;*/
  /*   -webkit-transition-delay: .5s;*/
  /*   -webkit-transition-duration: .3s;*/
  /*   -webkit-transition-timing-function: ease;*/
  /**/
  /*   transition-property: opacity;*/
  /*   transition-delay: .5s;*/
  /*   transition-duration: .3s;*/
  /*   transition-timing-function: ease;*/
  /* }*/
}
