.faq-container{
  max-height: 480px;

  border-bottom: 3px solid #94bcc1;
  .mCSB_scrollTools {
    width: 15px;
  }
  .mCSB_scrollTools .mCSB_draggerRail{
    width: 15px;
    background: #fff;
    border: 1px solid #c0d8dc;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #726b67;
width: 15px;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
