
.section-hero {
  // padding-top: 157px;
  .hero-block {
    position: relative;
    width: 100%;

    overflow: hidden;
    // margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      height: calc(100vh - 172px);
    }
  }
  .hero-full {
    position: relative;
          width: 100%;
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    figure {
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #fff;
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      @include media-breakpoint-down(md) {
        position: relative;
        width: 100%;
      }


      &:before {
        @include media-breakpoint-down(md) {
          display: block;
          content: "";
          width: 100%;
          // padding-top: percentage(1192 / 2672);
          padding-top: percentage(468 / 610);
        }
      }
      img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }
  }


  .hero-video-wrapper {
      @include media-breakpoint-down(md) {
        position: relative;
      }
  }
  .hero-video {
    position: relative;
    height: 100%;
    @include media-breakpoint-up(lg) {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // min-width: 100%;
      // min-height: 100%;
      // width: auto;
      // height: auto;
      // -webkit-transform: translateX(-50%) translateY(-50%);
      // transform: translateX(-50%) translateY(-50%);
      // background-size: cover;
      // -webkit-transition: opacity 1s;
      // transition: opacity 1s;
      overflow: hidden;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      &:before {
        display: block;
        content: "";
        width: 100%;
        // padding-top: percentage(1192 / 2672);
        padding-top: percentage(468 / 610);

      }
    }
    .video{
      position: absolute;
      left: 50%; top: 50%;
      width: 100%; height: 100%;
      -webkit-transform: translate3d(-50%,-50%,0);
      transform: translate3d(-50%,-50%,0);
      &.video-wide{
        // top: 70%;
        -webkit-transform: translate3d(-50%,-40%,0);
        transform: translate3d(-50%,-40%,0);
      }
    }
    video {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
      // padding-top: 42.857142857142855%;

      // width: 100%; height: 100%;
      // left: 0; top: 0;
      // object-fit: cover;
      // object-position: center 30%;
      // @include media-breakpoint-up(lg) {
      //   position: absolute;
      //   top: 50%;
      //   // top: 0;
      //   left: 50%;
      //   z-index: 1;
      //   min-width: 100%;
      //   min-height: 100%;
      //   width: auto;
      //   height: auto;
      //   -webkit-transform: translate(-50%,-39%);
      //   transform: translate(-50%,-39%);
      // }
      // @include media-breakpoint-down(md) {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   z-index: 1;
      //   min-width: 100%;
      //   min-height: 100%;
      //   width: auto;
      //   height: auto;
      //   transform: translate(-50%,-50%);
      //   background-position: center center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }
      //
      // @media (max-height: 630px){
      //   width: 100%;
      // }
    }
    // .video-bg {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   img {
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     -o-object-fit: cover;
    //     object-fit: cover;
    //     -o-object-position: center;
    //     object-position: center;
    //   }
    // }
  }

  .hero-content-home{
    top: auto;
    padding-left: 10%;
    bottom: 16%;
    height: auto;
    z-index: 3;
    span{
      white-space: nowrap;
      font-size: 4vw;

    }
    .txt-1{
      padding-left: 2em;
    }
    .txt-3{
      padding-left: 3em;
    }
    // responsive
    @include media-breakpoint-down(md) {
      padding: 10px;
      span{
        font-size: 6vw;
      }
    }

    // animation
    &[ms-scroll-trigger]{
      .txt-1,.txt-2,.txt-3{
        opacity: 0;

        // -webkit-transition-property: -webkit-transform,opacity;
        // // -webkit-transition-duration: .3s;
        // -webkit-transition-timing-function: $easeOutCubic;
        //
        // -webkit-transition-property: opacity,-webkit-transform;
        //
        // transition-property: opacity,-webkit-transform;
        //
        // transition-property: transform,opacity;
        //
        // transition-property: transform,opacity,-webkit-transform;
        // // transition-duration: .3s;
        // transition-timing-function: $easeOutCubic;
      }
      .txt-1,.txt-3{
        -webkit-transform: translate3d(30px,0,0);
        transform: translate3d(30px,0,0);
      }
      .txt-2{
        -webkit-transform: translate3d(-30px,0,0);
        transform: translate3d(-30px,0,0);
      }

      &.ms-animate{
        .txt-1,.txt-2,.txt-3{
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: 2s;
          -webkit-transition-delay: .5s;
          -webkit-transition-timing-function: $easeOutCubic;

          -webkit-transition-property: opacity,-webkit-transform;

          transition-property: opacity,-webkit-transform;

          transition-property: transform,opacity;

          transition-property: transform,opacity,-webkit-transform;
          transition-duration: 2s;
          transition-delay: .5s;
          transition-timing-function: $easeOutCubic;
        }
        .txt-2{
          -webkit-transition-delay: .7s;
          transition-delay: .7s;
        }
        .txt-3{
          -webkit-transition-delay: .9s;
          transition-delay: .9s;
        }
      }
    }
  }
}

#index-caption{
  &.is-hide{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: $easeOutCubic;
  }
}
