

.location {
  .hero-content {
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    top: percentage(215 / 596);


    @include media-breakpoint-down(sm) {
      padding-left: 30px;
      padding-right: 30px;
    }

    h3 {
      @include fp(padding-left,20,40);
      span.txt-1 {
        display: block;
        color: $brand;
        @include fp(font-size, 13.5, 27);
        @include fp(text-indent,-20,-40);
      }
    }
    p:last-child {
      margin-bottom: 0;
    }

    // animation
    .txt-1,.txt-2,p{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }
    p{
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);
    }
    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: .5s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-delay: .5s;
        transition-timing-function: $easeOutCubic;
      }
      p{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-delay: .5s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-delay: .5s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
}


.location-2 {
  padding-top: 15px;
  .ratio-location {
    figure {
      &:before {
        @include media-breakpoint-up(lg) {
          padding-top: percentage(666 / 1336);
        }
        @include media-breakpoint-down(md) {
          // padding-top: 100%;
          padding-top: percentage(333 / 553);
        }
      }
    }
  }

  .c-block {
    .c-block-content {
      width: auto;
      height: auto;
      left: auto;
      bottom: auto;
      @include media-breakpoint-up(lg) {
        top: 60px;

        right: 0;

        padding: 40px;
        padding-top: 40px - 1;
        padding-bottom: 40px - 8;
        background-color: rgba(10,101,129,0.5);
      }

      @include media-breakpoint-down(md) {
        position: relative;
        top: auto;
        right: auto;
        padding: 30px;
        padding-top: 30px - 1;
        padding-bottom: 30px - 6;
        background-color: #6d9495;
      }


      p:last-child {
        margin-bottom: 0;
      }

      // animation
      &[ms-scroll-trigger]{
        opacity: 0;
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0);

        -webkit-transition-property: -webkit-transform,opacity;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: .3s;
        transition-timing-function: $easeOutCubic;
        &.ms-animate{
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: .6s;
          -webkit-transition-timing-function: $easeInOutCubic;

          transition-property: transform,opacity;
          transition-duration: .6s;
          transition-timing-function: $easeInOutCubic;
        }
      }
    }
  }
}

.location-3 {
  padding-top: 15px;
  .location-3-blocks {
    position: relative;
  }
  .c-block-content {
    position: relative;
    background-color: #6d9495;
    @include media-breakpoint-up(lg) {
      width: 58.33333%;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 80px - 1;
      padding-bottom: 80px - 8;
      &:after {
        content: "";
        position: absolute;
        top: 30px;
        height: 0;
        width: 0;
        left: 100%;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 14px solid #6d9495;
      }
    }
    @include media-breakpoint-up(xl) {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px - 6;
    }
    h5 {
      font-family: $font-family-base;
      letter-spacing: normal;
      line-height: 1.125em;
      margin-bottom: 20px - 12;
      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: block;
        @include media-breakpoint-down(lg) {
          display: inline;
        }
      }
    }
    // animation
    .inner[ms-scroll-trigger]{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
      &.ms-animate{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
  .ratio-location {
    figure {
      &:before {
        padding-top: percentage(333 / 553);
      }
    }
    @include media-breakpoint-up(lg) {
      width: 41.66667%;
    }
    @include media-breakpoint-only(lg) {
      position: absolute;
      left: 58.33333%;
      top: 0;
      height: 100%;
      figure {
        height: 100%;
        &:before {
          content: none;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      position: relative;
      margin-left: 58.33333%;
    }
  }
}

.soi112 {
  .headline {
    overflow: hidden;
    padding-top: 85px - 1;
    padding-bottom: 85px - 8;

    @include media-breakpoint-down(sm) {
      padding-top: 30px - 1;
      padding-bottom: 30px - 8;
    }
    p:last-child {
      margin-bottom: 0;
    }

    .luxury-logo{
      opacity: 0.2;
      position: absolute;
      top: 50%;
      right: percentage(-184/1366);
      -webkit-transform: translate3d(0,-50%,0);
      transform: translate3d(0,-50%,0);
      max-width: 672px;
      width: percentage(672/1366);
    }

    // animation
    &[ms-scroll-trigger]{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
      &.ms-animate{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
  .ratio-soi112 {
    figure {
      &:before {

        padding-top: percentage(482 / 1336);

      }
    }
  }
}

.map {
  padding-top: 15px;
  padding-bottom: 85px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 15px;
  }
  .map-outer {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6baebd;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: percentage(666 / 1336);
    }

    // animation
    &[ms-scroll-trigger]{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
      &.ms-animate{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
  .map-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
