.luxury-banner{
  .hero-content{
    padding-left: 70px;
    position: absolute;
    bottom: 60px - 4;
    left: 0;
    @include media-breakpoint-down(sm) {
      padding-left: 30px;
      bottom: 30px - 3;
    }
    h1 {
      @include fp(padding-left,64/2,64);
      span {
        display: block;
        &.txt-1{
          @include fp(text-indent,-64/2,-64);
        }
      }
    }
  }

  // animation
  [ms-scroll-trigger]{
    .txt-1,.txt-2{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }

    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: .5s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-delay: .5s;
        transition-timing-function: $easeOutCubic;
      }
    }
  }
}

.luxury-concept{
  position: relative;
  padding-top: 85px - 1;
  padding-bottom: 85px - 8;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px - 6;
  }
  .luxury-logo{
    opacity: 0.2;
    position: absolute;
    top: 50%;
    right: percentage(-184/1366);
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    max-width: 672px;
    width: percentage(672/1366);
  }
  h3{
    color: #726b67;
  }
  p {
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // animation
  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}

.luxury-award{
  .ratio-luxury-award {
    figure {
      &:before {
        padding-top: percentage(575 / 1336);
      }
    }
    .c-block-content {
      top: auto;
      height: auto;
      left: auto;
      right: 0;
      max-width: none;
      width: auto;
      padding-bottom: 50px - 4;

      @include media-breakpoint-up(lg) {
        max-width: 740px;
        width: 100%;
      }


      @include media-breakpoint-down(sm) {
        padding: 30px;
        padding-bottom: 30px - 6;
      }
      h1 {
        @include media-breakpoint-down(sm) {
          @include fp(font-size, 20, 40);
        }
        span.txt-2 {
          @include fp(padding-left,100/2,100);
        }
      }
    }
  }
  // CONTENT
  .luxury-award-content {
    background-color: #aaa6a4;
    text-align: center;

    padding-top: 85px;
    padding-bottom: 40px;

    overflow: hidden;

    @include media-breakpoint-down(sm) {
      padding: 30px;
      padding-top: 30px + 30;
      padding-bottom: 30px - 6;
    }

    .award-items {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      margin-left: -7.5px;
      margin-right: -7.5px;
      .award-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        max-width: 112px;
        width: 33.3333%;
        padding-left: 7.5px;
        padding-right: 7.5px;
        &:nth-child(1), &:nth-child(3) {
          top: -30px;
        }
      }
    }
    .luxury-award-detail {
      text-align: left;
      padding-right: 15px;
      @include media-breakpoint-down(md) {
        padding-right: 0;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
      }
      @include media-breakpoint-down(sm) {
        padding: 0;
        padding-top: 30px;
      }
      * {
        color: $white !important;
      }
      p {
        margin-top: 0;
      }
      h5 {
        margin-top: 25px - 7;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 15px - 2;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        li {
          @include fp(font-size, 12, 16);
          font-weight: normal;
          line-height: 1.25;
          position: relative;
          padding-left: 15px;
          &:before {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            left: 1px;
            top: 4px;
            background-color: currentColor;
            border-radius: 100%;
          }
        }
      }
    }

    // animation
    &[ms-scroll-trigger]{
      > * {
        opacity: 0;
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0);

        -webkit-transition-property: -webkit-transform,opacity;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: .3s;
        transition-timing-function: $easeOutCubic;
      }
      &.ms-animate{
        > * {
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: .6s;
          -webkit-transition-timing-function: $easeInOutCubic;

          transition-property: transform,opacity;
          transition-duration: .6s;
          transition-timing-function: $easeInOutCubic;
        }
      }
    }
  }

  // LIST


  .luxury-award-lists-block {
    padding-top: 15px;
  }
  .luxury-award-lists {
    position: relative;
    font-size: 0;
    background-color: #66d1d9;
    @include media-breakpoint-up(md) {
      &:after {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-color: #6d9495;
        content: "";
      }
    }
    .luxury-award-list {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding: 30px;
      padding-bottom: 30px - 6;
      z-index: 1;
      @include media-breakpoint-up(md) {
        width: 50%;
        padding: 40px;
        padding-bottom: 40px - 8;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1) {
        h4 {
          color: $white;
        }
      }
      &:nth-child(2) {
        @include media-breakpoint-down(sm) {
          background-color: #6d9495;
        }
        p {
          color: $white;
        }
      }

      // animation
      &[ms-scroll-trigger]{
        > * {
          opacity: 0;

          -webkit-transition-property: -webkit-transform,opacity;
          -webkit-transition-duration: .3s;
          -webkit-transition-timing-function: $easeOutCubic;

          transition-property: transform,opacity;
          transition-duration: .3s;
          transition-timing-function: $easeOutCubic;

          -webkit-transform: translate3d(0,40px,0);
          transform: translate3d(0,40px,0);
        }
        &.ms-animate{
          > * {
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

            -webkit-transition-property: transform,opacity;
            -webkit-transition-duration: 1s;
            -webkit-transition-timing-function: $easeOutCubic;

            transition-property: transform,opacity;
            transition-duration: 1s;
            transition-timing-function: $easeOutCubic;

            &:nth-child(2){
              -webkit-transition-delay: .1s;
              transition-delay: .1s;
            }
            &:nth-child(3){
              -webkit-transition-delay: .2s;
              transition-delay: .2s;
            }
            &:nth-child(4){
              -webkit-transition-delay: .3s;
              transition-delay: .3s;
            }
            &:nth-child(5){
              -webkit-transition-delay: .4s;
              transition-delay: .4s;
            }
          }
        }
      }
    }
  }

  // GALLERY
  .luxury-award-gallery {
    padding-top: 15px;
    position: relative;
  }
  .luxury-award-gallery-blocks {
    overflow: hidden;
    font-size: 0;
    margin-left: -7.5px;
    margin-right: -7.5px;
    .luxury-award-gallery-block {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding-left: 7.5px;
      padding-right: 7.5px;
      @include media-breakpoint-up(md) {
        width: 33.3333%;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 15px;
        &:nth-child(1) {
          margin-top: 0;
        }
      }

      .ratio-luxury-award-gallery {
        figure {
          &:before {
            padding-top: percentage(278 / 433);
          }
        }
      }
    }
  }

  // animation
  [ms-scroll-trigger]{
    // animation
    .txt-1,.txt-2{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }

    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
    }
  }
}

.plots-layout {

  .headline {
    padding-top: 85px - 1;
    // padding-bottom: 40px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px
    }
    h2 {
      span {
        color: #726b67;
      }
    }
  }
  [ms-tab] {

    .tab-header-container {
      li {


        @include media-breakpoint-up(md) {
          margin-right: -1px;
          &:last-child {
            margin-right: 0;
          }
        }
        @include media-breakpoint-down(sm) {
          display: block;
          margin-bottom: -1px;
          &:last-child {
            margin-bottom: 0;
          }
        }


      }
      .btn {
        display: block;
        // height: 2.250em;
        height: auto;
        color: #726b67;
        @include fp(font-size, 12, 16);
        @include fp(padding-left, 30/2, 30);
        @include fp(padding-right, 30/2, 30);
        padding-top: 0.750em;
        padding-bottom: 0.313em;
        &:before {
          border-width: 1px;
          border-color: #acacac;
        }
        &:after {
          background-color: $brand;
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          left: 1px;
          top: 1px;
        }
      }
    }

    .tab-content-container {
      background-color: #d8dbda;
      // padding-top: 85px;
      // padding-bottom: 85px;

      .tab-caption {


        padding-top: 85px;

        @include media-breakpoint-up(lg) {
          position: absolute;

        }
        @include media-breakpoint-down(sm) {
          padding-top: 30px;
          text-align: center;
        }
        h5 {
          margin-bottom: 0.708em;
        }

        p {
          @include fp(font-size, 14, 18);
          margin-top: 0.667em;
          margin-bottom: 0;
        }
      }

      .layout {
        position: relative;
        width: 100%;
        &:before {
          content: "";
          display: block;
          padding-top: percentage(1208/1720);
        }
        .layout-inner {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

        }
        img {
          max-width: 1366px;
          width: 100%;
        }
      }


    }
  }

  [ms-scroll-trigger]{
    > * {
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;

      -webkit-transform: translate3d(0,40px,0);
      transform: translate3d(0,40px,0);
    }
    &.ms-animate{
      > * {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;

        &:nth-child(2){
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }
        &:nth-child(3){
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }
        &:nth-child(4){
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }
        &:nth-child(5){
          -webkit-transition-delay: .4s;
          transition-delay: .4s;
        }
      }
    }
  }
}

.luxury-vdo {
  .headline {
    padding-top: 85px - 1;
    // padding-bottom: 40px;


    @include media-breakpoint-down(sm) {
      padding-top: 30px
    }

    h2 {
      span {
        color: #726b67;
      }
    }
  }

  [ms-tab] {
    .tab-header-container {
      li {
        margin: 0 7.5px;
      }
      .btn {
        display: block;
        // height: 2.353em;
        height: auto;
        color: #726b67;
        @include fp(font-size, 13, 17);
        @include fp(padding-left, 30/2, 30);
        @include fp(padding-right, 30/2, 30);
        padding-top: 0.824em;
        padding-bottom: 0.412em;

        @include media-breakpoint-up(md) {
          min-width: 200px;
        }
        &:before {
          border-width: 1px;
          border-color: #acacac;
        }
        &:after {
          background-color: #9c9794;
        }
      }
    }


  }
  .tab-vdo{
    background-color: #000;
  }
  .ratio-video {
    overflow: hidden;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    &:before{
      content: '';
      padding-top: 56.25%;
      display: block;
      background-color: #a1a1a1;
    }
    iframe{
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
    }
    // figure {
    //   background-color: #a1a1a1;
    //   &:before {
    //     padding-top: percentage(574 / 1336);
    //   }
    // }
  }
  video{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  [ms-scroll-trigger]{
    > * {
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;

      -webkit-transform: translate3d(0,40px,0);
      transform: translate3d(0,40px,0);
    }
    &.ms-animate{
      > * {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;

        &:nth-child(2){
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }
        &:nth-child(3){
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }
        &:nth-child(4){
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }
        &:nth-child(5){
          -webkit-transition-delay: .4s;
          transition-delay: .4s;
        }
      }
    }
  }
}
