
$section-padding-top: 83px;
$section-padding-bottom: 85px;


.main {
  position: relative;
  padding-top: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 157px;
  }
  &:before {
    display: none;
    content: 'mobile';
    @include media-breakpoint-up(lg) {
      content: 'desktop';
    }
  }
}

.scroll-down {


  display: block;
  position: absolute;
  @include center(x);
  bottom: 40px;
  width: 22px;
  height: 34px;
  cursor: pointer;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  svg:first-child {
    height: 34px;
    width: 22px;
    path {
      stroke: #FFF;
      stroke-width: 2px;
      stroke-dasharray: 200;
      stroke-dashoffset: 100;
      fill: rgba(255, 255, 255, 0);
      -webkit-animation-name: mouse;
      animation-name: mouse;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-transition: fill 350ms ease;
      transition: fill 350ms ease;
    }
  }
  svg:nth-child(2) {
    position: absolute;
    top: 100%;
    @include center(x);
    margin-top: 5px;
    polygon {
          fill: white;
    }
  }
  svg:nth-child(3) {
    position: absolute;
    top: 100%;
    @include center(x);
    margin-top: 13px;
    polygon {
          fill: white;
    }
  }
  &:after {
    background-color: #FFF;
    // content: "";
    position: absolute;
    @include center(x);
    bottom: -48px;
    height: 50px;
    width: 2px;
    -webkit-animation-name: line;
    animation-name: line;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  div {
    position: absolute;
    left: 50%;
    background-color: #FFF;
    height: 4px;
    opacity: 0;
    top: 50%;
    width: 4px;
    z-index: 2;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: indicator;
    animation-name: indicator;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    border-radius: 10px;
  }
  &:hover {
    div {
      background-color: #726b67;
    }
    svg:first-child {
      path {
        fill: #FFF;
      }
    }
  }

}

@-webkit-keyframes mouse {
  0%,
  33% {
    stroke-dasharray: 100
  }
  100% {
    stroke-dasharray: 200
  }
}

@keyframes mouse {
  0%,
  33% {
    stroke-dasharray: 100
  }
  100% {
    stroke-dasharray: 200
  }
}
@-webkit-keyframes indicator {
  0%,
  10% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-250%);
    transform: translateX(-50%) translateY(-250%)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%)
  }
  100%,
  90% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%)
  }
}
@keyframes indicator {
  0%,
  10% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-250%);
    transform: translateX(-50%) translateY(-250%)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%)
  }
  100%,
  90% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%)
  }
}

.scroll-top {
  cursor: pointer;
  position: fixed;
  color: #fff;
  bottom: 15px;
  right: 15px;
  z-index: 2000;
  width: 40px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url(../img/icons/icon-scroll-top.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1),-webkit-transform 0.4s cubic-bezier(0.345, 0.005, 0.07, 1);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: -5px;
    right: 5px;
  }

  &.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

.link {
  position: relative;
  display: inline-block;
  line-height: 1.25;
  &:after {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    content: "";
    background-color: currentColor;
    height: 1px;
  }
}

.link-gallery {
  position: absolute;
  right: 0;
  bottom: 0;
  // height: 60px;
  // padding: 8px 20px;
  @include fp(padding-left,10,20);
  @include fp(padding-right,10,20);
  @include fp(padding-top,4,8);
  @include fp(padding-bottom,4,8);
  background-color: rgba(#2ec0cb, 0.6);

  p {
    position: relative;
    color: $white;
    // font-size: 18px;
    @include fp(font-size,9,18);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    &:before {
      content: "\e905";
      font-family: 'ms' !important;
      // font-size: 44px;
      @include fp(font-size,22,44);
      display: inline-block;
      vertical-align: middle;
      // margin-right: 16px;
      @include fp(margin-right,8,16);
      line-height: 1;
    }
    span {
      position: relative;
      top: 1px;
    }
  }
}

section {
  position: relative;
  background-color: $white;
}

.section-block {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
}

.section-full {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
}
.section-wrapper {
  position: relative;
}

.list-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left
}

.list-bullet>li {
    position: relative;
    padding-left: 10px;
    -webkit-transition: color 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.45s cubic-bezier(0.4, 0, 0.2, 1)
}

.list-bullet>li:before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    left: 1px;
    // top: 6px;
    @include fp(top,3,6);
    background-color: currentColor;
    border-radius: 100%
}
