.contact {
  overflow: hidden;
  padding-top: 84px;
  padding-bottom: 85px;
  @include media-breakpoint-down(sm) {
    padding-top: 29px;
    padding-bottom: 30px;
  }
  .contact-headline {
    margin-bottom: 47px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 22px;
    }
    * {
      color: #726b67;
    }
    p:last-child {
      margin-bottom: 0;
    }

    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
  .contact-wrapper{
    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
  .contact-form {

    .row {
      margin-right: -7.5px;
      margin-left: -7.5px;
      >[class*="col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
      }
    }
    .form-group {
      position: relative;
      margin-bottom: 15px;
    }
    label {
      color: #877e79;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      margin: 0;
    }
    .form-control {
      display: block;
      width: 100%;
      height: $form-input-height;
      padding: $form-input-padding-y $form-input-padding-x;
      color: $form-input-color;
      font-size: $form-input-font-size;
      line-height: $form-input-line-height;
      background-color: $form-input-bg-color;
      border: $form-input-border;
      border-radius: $form-input-radius;
      box-shadow: none;
      -webkit-transition: border-color ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    textarea.form-control {
      height: auto;
      resize: vertical;
      overflow: auto;
      padding-top: 12px;
      padding-bottom: 10px;
    }
    .contact-form-bottom {
      margin-top: 15px;
    }
    .contact-field {
      font-size: 14px;
      color: #849286;
    }
    .btn-contact {
      height: 45px;
      color: $body-color;
      background-color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 30px;
      border: 1px solid $body-color;
      letter-spacing: 0.1em;
      cursor: pointer;
      -webkit-transition-property: color,background-color;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: ease;

      transition-property: color,background-color;
      transition-duration: .3s;
      transition-timing-function: ease;
      &:focus {
        outline: 0;
      }
      &:hover{
        background-color: $brand;
        color: #fff;
        border-color: $brand;

        -webkit-transition-property: color,background-color;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: ease;

        transition-property: color,background-color;
        transition-duration: .3s;
        transition-timing-function: ease;
      }
    }
  }
  .contact-address {
    position: relative;

    @include media-breakpoint-up(md) {
      padding-top: 16px;
    }

    .contact-screen-logo {
      position: absolute;
      opacity: .2;

      @include media-breakpoint-up(md) {
        left: -93px;
        @include center(y);
        width: 676px;
      }
      @include media-breakpoint-down(sm) {
        bottom: -100px;
        right: -22%;
        width: percentage(298 / 640);
        min-width: 298px;
      }
    }


    .contact-address-item {
      margin-bottom: 45px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
    h4 {
      // font-size: 23px;
      @include fp(font-size, 12, 24);
      letter-spacing: normal;
      margin-bottom: 24px;
    }
    address {
      margin: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        line-height: 1.5;
        margin: 0;
      }
    }
    .developed {
      @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
      }
      p {
        display: inline-block;
        position: relative;
        font-size: 12px;
        line-height: 1;
        margin: 0;
      }
      img {
        display: inline-block;
        vertical-align: top;
        margin-top: -7px;
        margin-left: 5px;
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
  }
}
