.development {
  .development-block {
    padding-top: 87px;
    padding-bottom: 80px;
    @include media-breakpoint-down(sm) {
      padding-top: 32px;
      padding-bottom: 25px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
  .development-title {
    h2 {
      color: #726b67;
      line-height: .7;
      letter-spacing: normal;

      display: inline-block;
      text-align: left;
      // padding-left: 205px;
      @include fp(padding-left,51.25,205);
      white-space: nowrap;
      span {
        display: block;
        &.txt-1 {
          // text-indent: -205px;
          @include fp(text-indent,-51.25,-205);
        }
        &.txt-3 {
          color: #00b2c0;
          @include fp(font-size, 13.5, 27);
          // text-indent: -37px;
          @include fp(text-indent,-18.5,-37);
          letter-spacing: 0.05em;

        }
      }
    }
  }

  .development-slider {
    position: relative;
    .ratio-development {
      figure {
        &:before {
          padding-top: percentage(278 / 435);
        }
      }
      .c-block-content {
        padding: 10px;
        height: auto;
        top: auto;
        text-align: right;
        .c-block-title {
          color: $white;
          font-family: $font-avenir-book;
          font-size: 13px;
          letter-spacing: 0.08em;
        }
      }
    }
    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }

  // animation
  .development-block{
    .txt-1,.txt-2,.txt-3,p{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1,.txt-3{
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
    }
    p{
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);
    }
    &.ms-animate{
      .txt-1,.txt-2,.txt-3{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
      p{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-delay: .2s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-delay: .2s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
}

.team {

  .team-container {
    padding-top: 84px;
    padding-bottom: 80px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 25px;
    }
  }
  .team-headline {
    margin-bottom: 45px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
  .team-title {
    h2 {
      color: #726b67;
    }
  }
  .team-block {
    position: relative;
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }

    p {
      color: #726b67;
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .team-logo {
      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 100%;
        left: 0;
      }
    }



    &.team-block-1 {
      .team-logo {
        margin-bottom: 6px;
      }
    }
    &.team-block-2 {
      .team-logo {
        margin-bottom: 9px;
      }
    }
    &.team-block-3 {
      @include clearfix;
      @include media-breakpoint-up(md) {
        padding-left: 75px;
      }
      .team-logo {
        @include media-breakpoint-up(md) {
          bottom: auto;
          top: 0;
        }
        @include media-breakpoint-down(sm) {
          float: left;
          margin-right: 15px;
        }
      }
    }
    &.team-block-4 {
      .team-logo {
        margin-bottom: 18px;
      }
    }

    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}

.fact-sheet {

  * {
    color: $white !important;
  }
  margin-bottom: $section-padding-bottom;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  .fact-sheet-block {
    display: inline-block;
    background-color: rgba(#0a6581, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 29px 50px 22px;
    max-width: 900px;
    width: 100%;
    @include media-breakpoint-down(sm) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include media-breakpoint-down(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }

    // animation
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }

  }
  .fact-sheet-item {
    h6 {
      letter-spacing: normal;
      margin-top: 26px;
      margin-bottom: 17px;
    }
  }
  .fact-sheet-lists {
    font-size: 0;
    max-width: 600px;
    .fact-sheet-list {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-bottom: 2px;

      @include media-breakpoint-up(sm) {
        width: 50%
      }

      p {
        position: relative;
        margin: 0;
      }
      &:last-child {
        p {
          &:before {
            display: inline-block;
            vertical-align: top;
            content: ":";
            margin-right: 12px;
            position: relative;
            top: -1px;
            @include media-breakpoint-down(xs) {
              margin-left: 12px;
            }
          }
        }
      }

    }
    &:last-child {
      .fact-sheet-list {
        margin-bottom: 0;
      }
    }
  }
}
