

.hero-gallery {

}
.play {
  position: absolute;
  @include center(xy);
  .button-play {
    @include fp(width,104/2,104);
    @include fp(height,104/2,104);
    border-radius: 100%;
    display: block;

    svg {
      height: 100%;
      width: 100%;
      fill: $white;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    &:hover {
      svg {
        fill: $brand;
      }
    }
  }
}
.gallery {
  .headline {
    padding-top: 85px - 1;
    padding-bottom: 40px - 3;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 30px - 2;
    }
    span.txt-2 {
      color: #726b67;
    }
  }
  .gallery-tab {
    list-style: none;
    margin: 0;
    margin-bottom: 60px - 7.5;
    padding: 0;
    text-align: center;
    font-size: 0;
    line-height: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px - 7.5;
    }
    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #726b67;
        font-size: 20px;
        line-height: normal;
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 11px;

        @include media-breakpoint-down(sm) {
          height: 30px;
          font-size: 14px;

          padding-top: 9px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  .gallery-block {

    margin-bottom: 85px - 7.5;

    margin-left: -7.5px;
    margin-right: -7.5px;
    @include clearfix;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px - 7.5;
    }
    .ratio-gallery {
      width: 100%;
      cursor: pointer;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      float: left;
      /* padding-left: 7.5px;*/
      /* padding-right: 7.5px;*/
      figure {
        &:before {
          padding-top: percentage(418 / 675.5);
        }
        img {
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          left: 7.5px;
          top: 7.5px;
        }
        figcaption {

          width: calc(100% - 15px);
          height: calc(100% - 15px);
          left: 7.5px;
          top: 7.5px;
          position: absolute;
          margin: 0;

          opacity: 0;
          -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #2ec0cb;
            opacity: 0.6;
            content: "";
          }
          i {
            display: block;
            position: relative;
            font-size: 44px;
            color: $white;
            opacity: 0;
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
            -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
            transition: opacity 0.6s, -webkit-transform 0.6s;
            transition: transform 0.6s, opacity 0.6s;
            transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }
      }
      &:hover {
        figure {
          figcaption {
            opacity: 1;
            visibility: visible;
            i {
              opacity: 1;
              -webkit-transform: translateY(0);
              transform: translateY(0);

            }
          }
        }
      }
      &.gallery-top {
        figure {
          img {
            -o-object-position: top;
            object-position: top;
          }
        }
      }
      &.gallery-bottom {
        figure {
          img {
            -o-object-position: bottom;
            object-position: bottom;
          }
        }
      }
    }
    .ratio-gallery-sm {
      // @include media-breakpoint-up(sm) {
      //   width: 50%;
      // }
      @include media-breakpoint-up(md) {
        width: 25%;
        figure {
          &:before {
            padding-top: percentage(209 / 337.75);
          }
        }
      }
    }
    .ratio-gallery-lg {
      // @include media-breakpoint-up(sm) {
      //   width: 50%;
      // }
      @include media-breakpoint-up(md) {
        width: 75%;
        figure {
          &:before {
            padding-top: percentage(535 / 1013.25);
          }
        }
      }
    }
    .ratio-gallery-vertical {
      // @include media-breakpoint-up(sm) {
      //   width: 50%;
      // }
      @include media-breakpoint-up(md) {
        width: 25%;
        figure {
          &:before {
            padding-top: percentage(535 / 337.75);
          }
        }
      }
    }
    .ratio-gallery-horizontal {
      // @include media-breakpoint-up(sm) {
      //   width: 50%;
      // }
      @include media-breakpoint-up(md) {
        width: 75%;
        figure {
          &:before {
            padding-top: percentage(326 / 1013.25);
          }
        }
      }
    }
  }

  // animation
  .headline[ms-scroll-trigger]{
    .txt-1,.txt-2{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }
    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
    }
  }

  .gallery-tab[ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,30%,0);
    transform: translate3d(0,30%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}
