.private-country-club {
  figure {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-image: url(../img/private-country-club/banner-shadow.png);
      background-size: auto 100%;
      background-position: left center;
    }
  }
  .hero-content {
    padding-top: 85px;
    padding-left: 60px;

    @include media-breakpoint-down(md) {
      padding-top: 30px;
      padding-left: 30px;
    }
    h1 {
      @include fp(padding-left,50/2,50);
      span.txt-1 {
        @include fp(text-indent,-50/2,-50);
      }
    }

    // animation
    .txt-1,.txt-2{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }

    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: .5s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-delay: .5s;
        transition-timing-function: $easeOutCubic;
      }
    }
  }
}


// concept
.concept {
  padding-top: 15px;
  .ratio-concept {
    figure {
      &:before {
        padding-top: percentage(336 / 539);
      }
    }
    @include media-breakpoint-only(lg) {
      height: 100%;
      min-height: 336px;
      figure {
        height: 100%;
        &:before {
          content: none;
        }
      }
    }
  }

  .c-block-content {
    background-color: #aaa6a4;
    @include media-breakpoint-up(lg) {
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px - 1;
      padding-bottom: 40px - 8;

      &:after {
        content: "";
        position: absolute;
        top: 30px;
        height: 0;
        width: 0;
        left: 100%;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 14px solid #aaa6a4;

      }
    }
    @include media-breakpoint-down(md) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px - 6;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}


// mahasamutr lagoon
.mahasamutr-lagoon {
  overflow: hidden;
  padding-top: 15px;
  .ratio-mahasamutr-lagoon {
    overflow: hidden;
    @include media-breakpoint-down(md) {
      background-color: #aaa6a4;
    }
    figure {
      &:before {
        padding-top: percentage(596 / 1336);
      }
    }

    .c-block-content {
      left: auto;
      width: auto;
      height: auto;
      top: auto;
      right: 0;
      padding-bottom: 50px - 8;

      @include media-breakpoint-down(md) {
        padding: 30px;
        padding-bottom: 30px - 6;
        text-align: center;
        position: relative;
        right: auto;
        background-color: #aaa6a4;
      }

      h3 {
        // padding-left: 195px;
        @include fp(padding-left,195/2,195);
        span {
          display: block;
        }
        span.txt-1 {
          // text-indent: -195px;
          @include fp(text-indent,-195/2,-195);
        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    // animation
    [ms-scroll-trigger]{
      .txt-1,.txt-2,p{
        opacity: 0;

        -webkit-transition-property: -webkit-transform,opacity;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: .3s;
        transition-timing-function: $easeOutCubic;
      }
      .txt-1{
        -webkit-transform: translate3d(30px,0,0);
        transform: translate3d(30px,0,0);
      }
      .txt-2{
        -webkit-transform: translate3d(-30px,0,0);
        transform: translate3d(-30px,0,0);
      }
      p{
        -webkit-transform: translate3d(0,40px,0);
        transform: translate3d(0,40px,0);
      }

      &.ms-animate{
        .txt-1,.txt-2,p{
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: $easeOutCubic;

          transition-property: transform,opacity;
          transition-duration: 1s;
          transition-timing-function: $easeOutCubic;
        }
        p{
          &:nth-child(2){
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
          }
          &:nth-child(3){
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
          }
        }
      }
    }
  }

  .mahasamutr-lagoon-lists {

    background-color: #66d1d9;
    margin-top: 15px;
    @include media-breakpoint-up(lg) {
      display: flex;
    }

    .mahasamutr-lagoon-list {
      position: relative;
      @include media-breakpoint-up(lg) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }

      &:nth-of-type(even) {
        background-color: #6ca0a3;
        .c-block-content {
          h4 {
            span.txt-2 {
              color: #66d1d9;
            }
          }
        }
      }

      .read-more {
        width: 40px;
        height: 40px;
        background-color: #6e8989;
        display: block;
        position: absolute;
        bottom: 20px;
        right: 0;
        cursor: pointer;
        @include media-breakpoint-down(md) {
          bottom: auto;
          top: 20px;
        }
        &:before {
          content: "\e906";
          font-family: 'ms' !important;
          position: absolute;
          @include center(xy);
          font-size: 24px;
          line-height: 1;
          color: $white;
        }
      }
    }
    .c-block-content {

      position: relative;
      padding: 40px;
      padding-bottom: 40px - 8;
      @include media-breakpoint-down(md) {
        padding: 30px;
        padding-bottom: 30px - 6;
      }
      h4 {
        color: $white;
        @include fp(padding-left,30/2,30);
        span {
          display: block;
        }
        span.txt-1 {
          @include fp(text-indent,-30/2,-30);
        }
        span.txt-2 {
          color: #726b67;
        }
      }
      p {
        color: $white;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }

}


.water-sport {

  .headline {
    text-align: center;
    padding-top: 85px - 1;
    padding-bottom: 45px - 3;
    @include media-breakpoint-down(md) {
      padding-top: 30px;
      padding-bottom: 30px - 2;
    }
    h3 {
      span {
        color: #726b67;
      }
    }
  }
  .ratio-water-sport {
    figure {
      &:before {
        padding-top: percentage(596 / 1336);
      }
    }
    .c-block-content {
      left: auto;
      width: 100%;
      height: auto;
      top: auto;
      @include media-breakpoint-up(lg) {
        bottom: 95px;
        right: 0;
        max-width: 538px;
        background-color: rgba(#09708e, .5);
        padding: 40px;
        padding-top: 40px - 1;
        padding-bottom: 40px - 8;
      }

      @include media-breakpoint-down(md) {
        padding: 30px;
        padding-bottom: 30px - 6;
        text-align: center;
        position: relative;
        right: auto;
        background-color: #66d1d9;
      }

      h3 {
        color: $white;
      }

      p {
        color: $white;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .water-sport-slider {
    padding-top: 15px;
    .ratio-water-sport-slide {
      figure {
        &:before {
          padding-top: percentage(278 / 435);
        }
      }
      .c-block-content {
        padding: 10px;
        height: auto;
        top: auto;
        text-align: right;
        .c-block-title {
          color: $white;
          font-family: $font-avenir-book;
          font-size: 13px;
          letter-spacing: 0.08em;
        }
      }
    }
  }

  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}

.other-sport {
    overflow: hidden;
  .headline {
    padding-top: 85px;
    padding-bottom: 45px - 8;
    @include media-breakpoint-down(md) {
      padding-top: 30px;
      padding-bottom: 30px - 6;
      text-align: center;
    }
    h3 {
      @include fp(padding-left,85/2,85);
      span {
        display: block;
        &.txt-1 {
          @include fp(text-indent,-85/2,-85);
          @include fp(font-size, 13.5, 27);
        }
        &.txt-2 {
          color: #726b67;
        }
      }
    }
    p {

      margin-bottom: 25px - 8;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  .other-sport-list {
    h6 {
      margin-top: 25px - 21;
      margin-bottom: 20px - 3;
      @include media-breakpoint-down(md) {
        margin-top: 30px - 7;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      @include media-breakpoint-up(md) {
        margin-right: 20px;
      }
      @include media-breakpoint-down(sm) {
        margin-right: 20px;
        display: block;
      }
      li {
        color: #877e79;
        @include fp(font-size, 12, 16);
        font-weight: normal;
        line-height: 1.25;
        position: relative;
        padding-left: 10px;
        &:before {
          content: "\e906";
          font-family: 'ms' !important;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 0.500em;
          line-height: 2em;
        }
      }
    }
  }

  .other-sport-slider {
    .ratio-other-sport-slide {
      figure {
        &:before {
          padding-top: percentage(512 / 1336);
        }
      }
    }
  }


  // animation
  [ms-scroll-trigger]{
    .txt-1,.txt-2,p,.other-sport-list{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }
    p,.other-sport-list{
      -webkit-transform: translate3d(0,40px,0);
      transform: translate3d(0,40px,0);
    }

    &.ms-animate{
      .txt-1,.txt-2,p,.other-sport-list{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
      p{
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }
      .other-sport-list{
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }
    }
  }

}

.club-amenities {
  padding-top: 15px;
  .ratio-club-amenities {
    @include media-breakpoint-only(lg) {
      height: 100%;
      min-height: 421px;
      figure {
        height: 100%;
        &:before {
          content: none;
        }
      }
    }
    figure {
      &:before {
        padding-top: percentage(421 / 668);
      }
    }
  }
  .c-block-content {
    background-color: #aaa6a4;
    @include media-breakpoint-up(lg) {
      text-align: left;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px - 1;
      padding-bottom: 40px - 8;
    }
    @include media-breakpoint-down(md) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px - 6;
    }

    h3 {
      @include fp(padding-left,65/2,65);
      span {
        display: block;
        &.txt-1 {
          @include fp(text-indent,-65/2,-65);
        }
        &.txt-2 {
          color: #726b67;
        }
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  // animation
  [ms-scroll-trigger]{
    .txt-1,.txt-2,p{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(30px,0,0);
      transform: translate3d(30px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-30px,0,0);
      transform: translate3d(-30px,0,0);
    }
    p{
      -webkit-transform: translate3d(0,40px,0);
      transform: translate3d(0,40px,0);
    }

    &.ms-animate{
      .txt-1,.txt-2,p{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
      p{
        &:nth-child(2){
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }
        &:nth-child(3){
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }
        &:nth-child(4){
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }
      }
    }
  }
}

.memberships-and-benefits {

  .headline {
    padding-top: 85px - 1;
    // padding-bottom: 130px;
    @include media-breakpoint-down(md) {
      padding-top: 30px;
    }
    h3 {
      margin-bottom: 45px - 5;
      @include media-breakpoint-down(md) {
        margin-bottom: 30px - 5;
      }
      span {
        color: #726b67;
      }
    }
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .card {
      @include media-breakpoint-down(md) {
        margin-top: 30px - 6;
      }
      img {
        @include media-breakpoint-up(lg) {
          margin-left: auto;
        }
        @include media-breakpoint-down(md) {
          margin-left: auto;
          margin-right: auto;
        }

      }

    }
  }

  .type-card {
    overflow: hidden;
    .row {
      margin-left: -7.5px;
      margin-right: -7.5px;
      >[class*="col-"] {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
    }
  }
  .ratio-memberships {
    background-color: #6ca0a3;
    height: 100%;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      height: auto;
      &.corporate {
        margin-bottom: 0;
      }
    }
    figure {
      &:before {
        padding-top: percentage(278 / 440);
      }
    }
    .c-block-content {
      height: auto;
      bottom: auto;
      position: relative;
      padding: 40px;
      padding-top: 30px;
      padding-bottom: 25px - 8;
      @include media-breakpoint-down(md) {
        padding: 30px;
        padding-bottom: 25px - 6;
      }
      p{
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  // animation
  [ms-scroll-trigger]{
    > *{
      opacity: 0;
      -webkit-transform: translate3d(0,40px,0);
      transform: translate3d(0,40px,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }

    &.ms-animate{
      > *{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
      > *{
        &:nth-child(2){
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }
        &:nth-child(3){
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }
        &:nth-child(4){
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }
      }
    }
  }
}

.faqs {
    padding-bottom: 85px;
    @include media-breakpoint-down(md) {
      padding-bottom: 30px;
    }
    .headline {
      text-align: center;
      padding-top: 85px - 1;
      @include media-breakpoint-down(md) {
        padding-top: 30px;
      }
      h2 {
        color: #726b67;
        margin-bottom: 45px - 4;
        @include media-breakpoint-down(md) {
          margin-bottom: 30px - 2;
        }
      }
    }
    // animation
    [ms-scroll-trigger]{
      > *{
        opacity: 0;
        -webkit-transform: translate3d(0,40px,0);
        transform: translate3d(0,40px,0);

        -webkit-transition-property: -webkit-transform,opacity;
        -webkit-transition-duration: .3s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: .3s;
        transition-timing-function: $easeOutCubic;
      }

      &.ms-animate{
        > *{
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: $easeOutCubic;

          transition-property: transform,opacity;
          transition-duration: 1s;
          transition-timing-function: $easeOutCubic;
        }
        > *{
          &:nth-child(2){
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
          }
          &:nth-child(3){
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
          }
          &:nth-child(4){
            -webkit-transition-delay: .3s;
            transition-delay: .3s;
          }
        }
      }
    }
}
