
.about-mahasamutr {

  padding-top: 15px;

  .about-mahasamutr-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .about-mahasamutr-content {
    padding-top: 84px;
    padding-bottom: 77px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 23px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .about-mahasamutr-title {
    h3 {
      // padding-left: 103px;
      @include fp(padding-left,51.5,103,$end:1366);
      span {
        // text-indent: -103px;
        @include fp(text-indent,-51.5,-103,$end:1366);
      }
    }
  }

  // animation
  .about-mahasamutr-content{
    > *{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    &.ms-animate{
      > *{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
        &:nth-child(2){
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }
      }
    }
  }
}

.own-a-luxury {

  padding-bottom: $section-padding-bottom;
  @include media-breakpoint-down(md) {
    padding-top: $section-padding-top - 30;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .luxury-container {
    @include media-breakpoint-up(lg) {
    padding-top: 15px;
    }
  }
  .ratio-luxury {

    figure {
      &:before {
        padding-top: percentage(428 / 653);
      }
    }
  }

  .luxury-block {
    @include media-breakpoint-up(lg) {
      padding: 15px 35px;
    }
    @include media-breakpoint-down(md) {
      margin: 30px 0;
    }
    @include media-breakpoint-down(sm) {
      margin: 15px 0;
    }
    .luxury-title {
      color: #726b67;
      // padding-left: 75px;
      @include fp(padding-left,37.5,75);
      + p {
        margin-top: 18px;
      }
      span.txt-1 {
        display: block;
        color: #14b8c5;
        // font-size: 27px;
        // text-indent: -60px;
        @include fp(font-size, 13.5, 27);
        @include fp(text-indent,-30,-60);
      }
    }
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // animation
  .luxury-block{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
  .luxury-logo{
    position: absolute;
    left: 40%; top: 0;
    width: 100%;
    opacity: 0.3;
  }
}
