

/* about*/
.section-about {
  position: relative;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  &:before {
    position: absolute;
    left: -93px;
    top: -94px;
    background-image: url(../img/bg/screen-logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 497px;
    height: 495px;
    opacity: .4;
    content: "";
    z-index: 1;

    @include media-breakpoint-down(md) {
      width: percentage(422 / 640);
      left: percentage(-201 / 640);
      max-width: 422px;
    }

  }

  .section-about-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .about-content {
    @include media-breakpoint-up(lg) {
      width: 79.166666666666667%;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 29px;
      padding-bottom: 30px;
    }
  }
  .weather {
    background-color: rgba(#328b96, .6);

    text-align: center;
    /* display: -webkit-box;*/
    /* display: -ms-flexbox;*/
    /* display: flex;*/
    /* -webkit-box-pack: center;*/
    /* -ms-flex-pack: center;*/
    /* justify-content: center;*/
    /* -webkit-box-align: center;*/
    /* -ms-flex-align: center;*/
    /* align-items: center;*/
    /* -webkit-box-orient: vertical;*/
    /* -webkit-box-direction: normal;*/
    /* -ms-flex-direction: column;*/
    /* flex-direction: column;*/

    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 20.833333333333333%;
      height: 100%;
      top: 0;
      right: 0;
      min-width: 283px;
    }

    @include media-breakpoint-down(md) {
      font-size: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .weather-item {
      @include media-breakpoint-up(lg) {
        position: absolute;
        width: 100%;
      }
      @include media-breakpoint-down(md) {
        display: inline-block;
        vertical-align: middle;
        width: 50%;

      }
      .weather-item-inner {
        display: inline-block;
        position: relative;
        text-align: center;
      }
    }
    * {
      color: $white !important;
    }

    .weather-top {
      @include media-breakpoint-up(lg) {
        bottom: 50%;
      }
      @include media-breakpoint-down(md) {
        text-align: right;
      }
      .weather-item-inner {
        @include media-breakpoint-up(lg) {
          padding-bottom: 24px;
        }
        @include media-breakpoint-down(md) {
          padding-right: 30px;

        }
        @include media-breakpoint-down(sm) {
          @include fp(padding-right, 7.5, 15);
        }
      }
      span {
        font-family: $font-millerbanner;
        // font-size: 20.03px;
        @include fp(font-size, 10, 20);
        line-height: 1;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        &:before {
          content: "\e900";
          font-family: 'ms' !important;
          // font-size: 36px;
          @include fp(font-size, 18, 36);
          display: inline-block;
          vertical-align: bottom;
          margin-right: 8px;
          line-height: 0.778;
        }
      }
      p {
        // font-size: 18.03px;
        @include fp(font-size, 9, 18);
        line-height: 1;
        letter-spacing: 0.1em;

        text-transform: uppercase;
        margin: 0;
      }
      hr {
        // width: 30px;
        @include fp(width, 15, 30);
        height: 2px;
        background-color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 14px;
        border: 0;
        // @include media-breakpoint-down(sm) {
        //   @include fp(margin-top, 5, 10);
        //   @include fp(margin-bottom, 7, 14);
        // }
      }
    }
    .weather-bottom {
      @include media-breakpoint-up(lg) {
        top: 50%;
      }
      @include media-breakpoint-down(md) {
        text-align: left;
      }
      .weather-item-inner {
        @include media-breakpoint-up(lg) {
          padding-top: 26px;
        }
        @include media-breakpoint-down(md) {
          padding-left: 31px;
        }
        @include media-breakpoint-down(sm) {
          @include fp(padding-left, 7.5, 15);
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;


          margin: auto;
          background-color: $white;
          content: "";

          @include media-breakpoint-up(lg) {
            width: 100%;
            height: 1px;
            right: 0;
          }
          @include media-breakpoint-down(md) {
            width: 1px;
            height: 100%;
          }
        }
      }
      span {
        font-family: $font-millerbanner;
        // font-size: 50.75px;
        @include fp(font-size, 25, 50);
        line-height: 1;
        margin: 0;
      }
      p {
        font-family: $font-millerbanner;
        // font-size: 24px;
        @include fp(font-size, 12, 24);
        letter-spacing: 0.1em;
        line-height: 1;
        margin: 0;
        margin-top: 5px;
      }
    }
  }

  // animation
  .about-content{
    .container-fluid{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    &.ms-animate{
      .container-fluid{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }
  .weather{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-delay: .1s;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-delay: .1s;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}


/* location*/
.section-location {
  .ratio-location {
    figure {
      &:before {
        @include media-breakpoint-up(lg) {
          padding-top: percentage(666 / 1336);
        }
        @include media-breakpoint-down(md) {
          // padding-top: percentage(638 / 610);
          padding-top: 100%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-image: url(../img/home/shadow.png);
        background-size: auto 100%;
        background-position: left center;
        @include media-breakpoint-down(md) {
          background-image: url(../img/home/shadow-m.png);
        }
      }
    }
    .c-block-content {
      @include media-breakpoint-down(sm) {
        padding: 30px;
      }

      h3 {
        @include fp(padding-left, 20, 40);
        span.txt-1 {
          color: #14b8c5;
          @include fp(font-size, 13.5, 27);
          @include fp(text-indent, -20, -40);
        }
      }
    }
  }

  // animation
  .txt-1,.txt-2,p.text-white,.btn{
    opacity: 0;

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
  }
  .txt-1{
    -webkit-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0);
  }
  .txt-2{
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  p.text-white,.btn{
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);
  }
  .ms-animate{
    .txt-1,.txt-2,{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: 1s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: 1s;
      transition-timing-function: $easeOutCubic;
    }
    p.text-white,.btn{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
    .btn{
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }
  }
}

/* private country club*/
.section-country-club {

  position: relative;
  overflow: hidden;
  &:before {
    position: absolute;
    right: -128px;
    top: 150px;
    background-image: url(../img/bg/screen-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 676px;
    height: 620px;
    opacity: .3;
    content: "";
    z-index: 1;

    @include media-breakpoint-down(md) {
      width: percentage(298 / 640);
      right: auto;
      left: percentage(407 / 640);
    }
  }

  .section-block {
    @include media-breakpoint-down(sm) {
      padding-top: 29px;
      padding-bottom: 30px;
    }
  }

  .ratio-country-club {
    margin-bottom: 15px;
    figure {
      &:before {
        @include media-breakpoint-up(lg) {
          padding-top: percentage(666 / 1336);
        }
        @include media-breakpoint-down(md) {
          padding-top: percentage(468 / 610);
        }
      }
    }
    .c-block-content {
      top: auto;
      height: auto;
      text-align: center;
      padding-bottom: 71px;
      @include media-breakpoint-down(sm) {
        padding: 0;
        @include fp(padding-bottom,35.5,71);

      }

      h1 {
        letter-spacing: normal;
        white-space: nowrap;

        @include media-breakpoint-down(sm) {
          @include fp(font-size, 22.5, 45);
        }
      }
    }

  }
  .ratio-villa {
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
    }

    figure {
      &:before {
        @include media-breakpoint-up(lg) {
          padding-top: percentage(666 / 775);
        }
        @include media-breakpoint-down(md) {
          // padding-top: percentage(638 / 610);
          padding-top: 100%;
        }
      }
      &:after{
        content: "";
        position: absolute;

        height: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-image: url(../img/home/villa-shadow.png);
        background-size: auto 100%;
        background-position: left center;
        @include media-breakpoint-up(lg) {
          width: calc(100% - 7.5px);
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
      img {
        @include media-breakpoint-up(lg) {
          width: calc(100% - 7.5px);
        }
        @include media-breakpoint-down(md) {
          -o-object-position: left;
          object-position: left;
        }
      }
    }
    .c-block-content {
      top: auto;
      height: auto;
      @include media-breakpoint-down(sm) {
        padding: 30px;
      }
    }
  }

  .villa-block {
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: -7.5px;
      margin-left: -7.5px;
    }
  }
  .ratio-villa-sm {
    @include media-breakpoint-up(lg) {
      height: 50%;
      width: 100%;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
    figure {
      @include media-breakpoint-up(lg) {
        height: 100%;
      }
      &:before {
        padding-top: percentage(322 / 545);
        @include media-breakpoint-up(lg) {
          content: none;
        }
      }
      @include media-breakpoint-up(lg) {
        img {
          left: auto;
          right: 0;
          width: calc(100% - 7.5px);
          height: calc(100% - 7.5px);
        }
      }
    }
    &:last-child {
      figure {
        img {
          top: auto;
          bottom: 0;
        }
      }
    }
  }

  // animation
  .section-block{
    .container-fluid{
      opacity: 0;
      -webkit-transform: translate3d(0,10%,0);
      transform: translate3d(0,10%,0);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    &.ms-animate{
      .container-fluid{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: .6s;
        -webkit-transition-timing-function: $easeInOutCubic;

        transition-property: transform,opacity;
        transition-duration: .6s;
        transition-timing-function: $easeInOutCubic;
      }
    }
  }

  h1.text-uppercase{
    .txt-1,.txt-2{
      opacity: 0;

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: $easeOutCubic;

      transition-property: transform,opacity;
      transition-duration: .3s;
      transition-timing-function: $easeOutCubic;
    }
    .txt-1{
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0);
    }
    .txt-2{
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
    }
    &.ms-animate{
      .txt-1,.txt-2{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutCubic;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutCubic;
      }
    }
  }

  #luxury-text{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;
    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}

/* news*/
.section-news {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    padding-top: 0;
  }

  .news-headline {
    margin-bottom: 42px;
    @include media-breakpoint-down(sm) {
      margin-top: 29px;
      margin-bottom: 27px;
    }
  }
  .news-block {

    @include media-breakpoint-down(lg) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media-breakpoint-down(md) {
      .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        >[class*="col-"] {
          padding-left: 7.5px;
          padding-right: 7.5px;
        }
      }
    }

    .ratio-news {
      figure {
        background-color: #726b67;
        @media (min-width: 1366px) and (max-width: 1600px) {
          height: 320px;
        }
        &:before {
          padding-top: percentage(282 / 455);
        }
        img{
          -webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
          transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
        }
      }
      &:hover {
        figure {
          img {
            -webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
            transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
            opacity: 0.3;
            @include media-breakpoint-down(md) {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
          }
        }
      }
      .c-block-content {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .c-block-content {
      padding: 0;
      .c-block-title {
        color: #14b8c5;
        // padding-left: 43px;
        @include fp(padding-left, 21.5, 43);
        span.txt-1 {
          // font-size: 27px;
          @include fp(font-size, 13.5, 27);
          color: $white;
          display: block;
          // text-indent: -43px;
          @include fp(text-indent, -21.5, -43);
          text-align: left;
        }
      }
    }

    .news-block-content {
      background-color: #66d1d9;
      padding: 40px;

      @include media-breakpoint-up(lg) {
        position: absolute;
        width: 100%;
        height: 50%;
      }
      @include media-breakpoint-only(lg) {
        height: 100%;
      }
      @include media-breakpoint-down(md) {
        padding-top: 15px;
        padding-bottom: 23px;
      }

      .c-block-text {
        @include media-breakpoint-up(lg) {
          display: none;
        }

        @include media-breakpoint-down(md) {
          position: relative;
          margin-bottom: 7px;

          .c-block-title {
            display: inline-block;
          }
          * {
            color: $white !important;
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            height: 0;
            width: 0;
          }
        }
      }

      h6 {
        position: relative;
        @include media-breakpoint-up(lg) {
          &:before {
            content: "";
            position: absolute;
            top: 0;
            height: 0;
            width: 0;
          }
        }
      }

      p:last-child {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
          margin-top: 6px;
        }
      }

    }

    /* events*/
    .events-block {
      position: relative;
      @include media-breakpoint-down(md) {
        height: 100%;
        background-color: #66d1d9;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
        height: auto;
      }



      .news-block-content {
        * {
          color: #726b67 !important;
        }
        @include media-breakpoint-up(lg) {
          top: 0;
          left: 100%;
        }
        @include media-breakpoint-down(md) {
          padding-right: 15px;
        }

        .c-block-text {
          @include media-breakpoint-down(md) {
            * {
              // color: $white !important;
            }
            &:before {
              right: 100%;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid #726b67;
              margin-right: 15px;
            }
          }
        }
        h6 {
          &:before {
            right: 100%;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid currentColor;
            margin-right: 15px;
          }
        }
      }
    }

    /* construction*/
    .construction-block {
      position: relative;
      .news-block-content {
        background-color: #6ca0a3;
      }
      @include media-breakpoint-down(md) {
        height: 100%;
        background-color: #66d1d9;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
        height: auto;
      }

      .ratio-news {
        @include media-breakpoint-only(lg) {
          margin-top: percentage(282 / 455);
        }
      }

      .c-block-content {
        .c-block-title {
          // padding-left: 65px;
          @include fp(padding-left, 32.5, 65);
          span.txt-1 {
            // text-indent: -65px;
            @include fp(text-indent, -32.5, -65);
          }
        }

      }
      .news-block-content {
        text-align: right;
        @include media-breakpoint-up(lg) {
          bottom: 0;
          right: 100%;
          background-color: #6ca0a3;
        }
        @include media-breakpoint-down(md) {
          padding-left: 15px;
        }
        .c-block-text {
          @include media-breakpoint-down(md) {
            &:before {
              left: 100%;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid #726b67;
              margin-left: 15px;
            }
          }
        }

        h6 {
          &:before {
            left: 100%;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid currentColor;
            margin-left: 15px;
          }
        }
      }
    }
  }

  // animation
  [ms-scroll-trigger]{
    opacity: 0;
    -webkit-transform: translate3d(0,10%,0);
    transform: translate3d(0,10%,0);

    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: $easeOutCubic;

    transition-property: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: $easeOutCubic;

    &.ms-animate{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeInOutCubic;

      transition-property: transform,opacity;
      transition-duration: .6s;
      transition-timing-function: $easeInOutCubic;
    }
  }
}
