
@font-face {
  font-family: 'MillerBanner-Semibold';
  src: url('MillerBanner-Semibold.eot?#iefix') format('embedded-opentype'),  url('MillerBanner-Semibold.otf')  format('opentype'),
	     url('MillerBanner-Semibold.woff') format('woff'), url('MillerBanner-Semibold.ttf')  format('truetype'), url('MillerBanner-Semibold.svg#MillerBanner-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
