
.c-block-title {
  color: $gray-dark;
  margin-bottom: 0;
}
.c-block-category {
  display: block;
  color: $brand;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.c-block {
  position: relative;
  display: block;
  // cursor: pointer;

  figure {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $white;
    img {
      -webkit-transition: .9s cubic-bezier(.18,1,.21,1);
      transition: .9s cubic-bezier(.18,1,.21,1);
    }
  }

  // All Ratio
  &[class*="ratio-"] {
    figure {
      &:before {
        display: block;
        content: "";
        width: 100%;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;

        -webkit-transition: none;
        transition: none;
      }
    }
    .c-block-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      padding: 50px;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: .9s cubic-bezier(.18,1,.21,1);
      transition: .9s cubic-bezier(.18,1,.21,1);
      .c-block-text {
      }
      .c-block-title, .c-block-category {

      }
    }
  }

  // Hide Content
  &.c-block-hide-content {
    .c-block-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      .c-block-text {
        text-align: center;
      }
      .c-block-title, .c-block-category {
        opacity: 0;
        -webkit-transform: translateY(125%);
        transform: translateY(125%)
      }
    }
    &:hover {
      figure {
        img {
          opacity: 0.1;
          transform: scale(1.05);
        }
      }
      .c-block-content {
        opacity: 1;
        visibility: visible;
        .c-block-title, .c-block-category {
          -webkit-animation: HoverFadeIn 0.6s;
          animation: HoverFadeIn 0.6s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        .c-block-category {
          -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
        }
        .c-block-title {
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
      }
    }

  }

  // Show Content
  &.c-block-show-content {

    figure {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#232323), to(rgba(35,35,35,0)));
        background: -webkit-linear-gradient(top, #232323 0%, rgba(35,35,35,0) 50%);
        background: -moz-linear-gradient(top, #232323 0%, rgba(35,35,35,0) 50%);
        background: -ms-linear-gradient(top, #232323 0%, rgba(35,35,35,0) 50%);
        background: -o-linear-gradient(top, #232323 0%, rgba(35,35,35,0) 50%);
        transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
      }
      img {
        transition: 9s cubic-bezier(0.18, 1, 0.21, 1);
      }
    }
    .c-block-content {
      .c-block-title {
        color: $white;
      }
    }
    &:hover {
      figure {
        &:after {
              background-color: rgba(21,21,21,0.45);
        }
        img {
          transform: scale(1.05);
        }

      }
    }
  }
}

.ratio-21by9 {
  figure {
    &::before {
      padding-top: percentage(9 / 21);
    }
  }
}

.ratio-16by9 {
  figure {
    &::before {
      padding-top: percentage(9 / 16);
    }
  }
}

.ratio-4by3 {
  figure {
    &::before {
      padding-top: percentage(3 / 4);
    }
  }
}

.ratio-1by1 {
  figure {
    &::before {
      padding-top: percentage(1 / 1);
    }
  }
}

.ratio-3by4 {
  figure {
    &::before {
      padding-top: percentage(4 / 3);
    }
  }
}


.ratio-2by1 {
  figure {
    &::before {
      padding-top: percentage(1 / 2);
    }
  }
}

@-webkit-keyframes HoverFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(125%);
    transform: translateY(125%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes HoverFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(125%);
    transform: translateY(125%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
