.footer {
  text-align: center;


  .footer-top {
    position: relative;
    background-color: #295f76;

    * {
      color: $white !important;
    }
    .footer-top-inner {
      position: relative;
      padding-top: 55px;
      padding-bottom: 45px;
    }
  }

  .footer-logo {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  //
  address {
    margin: 0;
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
    p {
      font-size: 15px;
      margin: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      margin-top: 5px;
      li {
        position: relative;
        display: inline-block;
        font-size: 14.86px;
        line-height: 14px;
        margin-right: 31px;
        &:last-child {
          margin-right: 0;
          &:before {
            content: none;
          }
        }
        &:before {
          content: "";
          position: absolute;
          top: 1px;
          right: -16px;
          width: 1px;
          height: 10px;
          background-color: currentColor;
        }
        i {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
          line-height: 14px;
          margin-top: -1px;
        }
      }
    }
  }

  //
  .footer-newsletter {
    margin-top: 25px;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
    h4 {
      font-family: $font-family-base;
      font-size: 12.03px;
      letter-spacing: 0.1em;
      line-height: 1;
      margin-bottom: 6px;
    }
  }
  .newsletter-form {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 272px;
    input {
      display: block;
      width: 100%;
      height: 36px;
      padding-left: 20px;
      padding-right: 60px;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      background-color: transparent;
      -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0;
      background: none;
      border: 0;
      cursor: pointer;
      font-size: 0;
      padding: 0;
      height: 100%;
      padding-right: 25px;
      &:before {
        content: "\e904";
        font-family: 'ms' !important;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
      }
      &:focus {
        outline: 0;
      }

    }
    ::-webkit-input-placeholder {
      color: $white;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $white;
    }

    :-ms-input-placeholder {
      color: $white;
    }
  }
  .footer-menu {
    display: inline-block;
    border-top: 1px solid rgba($white, 0.5);
    padding-top: 30px;
    max-width: 1050px;
    width: 100%;

    @include media-breakpoint-down(md) {
      display: none;

    }
    .footer-main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      li {
        display: inline-block;
        text-align: center;
        position: relative;
      }
      a {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.05em;
        white-space: nowrap;
        text-transform: uppercase;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
      }
    }
  }

  .footer-bottom {
    position: relative;
    background-color: $white;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0;

    @include media-breakpoint-down(md) {
      padding-top: 18px;
      padding-bottom: 14px;
    }


    .footer-item {
      @include media-breakpoint-up(lg) {
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          margin-left: 65px;
        }
      }
    }

    // p {
    //   margin: 0;
    //   color: #877e79;
    //   font-size: 12px;
    //   letter-spacing: 0.04em;
    //   line-height: 1;
    //
    //   a {
    //     color: inherit;
    //     position: relative;
    //     &:before {
    //       content: "";
    //       position: absolute;
    //       bottom: 1px;
    //       left:0;
    //       width: 100%;
    //       height: 1px;
    //       background-color: currentColor;
    //     }
    //   }
    // }

    .copyright {

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 4px;
        font-size: 0;
        @include media-breakpoint-down(md) {
          margin-top: 15px;
        }
        li {
          position: relative;
          display: inline;
          vertical-align: middle;
          margin-right: 21px;
          color: #877e79;
          font-size: 12px;
          letter-spacing: 0.04em;
          line-height: 1;
          @include media-breakpoint-down(md) {
            line-height: 1.25;
          }
          &:last-child {
            margin-right: 0;
            &:before {
              content: none;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 1px;
            right: -11px;
            width: 1px;
            height: 9px;
            background-color: currentColor;
          }
          a {
            color: inherit;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              bottom: 1px;
              left:0;
              width: 100%;
              height: 1px;
              background-color: currentColor;
            }
          }
        }
      }
    }
    .social-link {
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: #877e79;
        font-size: 13px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0;
        margin-top: 4px;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          margin-left: 9px;
          @include media-breakpoint-down(md) {
            margin-left: 19px;
            &:first-child {
              margin-left: 0;
            }
          }
          a {
            color: #09708e;
            font-size: 22px;
            display: block;
            height: 1em;
            width: 1em;
            @include media-breakpoint-down(md) {
              font-size: 30px;
            }
          }
        }
      }
    }

  }
}
