[ms-tab]{
  .tab-header-container{
    list-style: none;
    font-size: 0;
    text-align: center;
    padding: 0; margin: 35px 0;
    &.tab-header-button{
      li{
        margin: 0 8px;
        a{
          border-right: 1px solid #726b67;;
        }
      }
    }
    li{
      display: inline-block;
      a{
        background-color: #fff;
        color: #726b67;
        font-size: 16px;
        line-height: 1em;
        padding: 10px 30px 5px;
        display: inline-block;

        border: 1px solid #726b67;
        border-right: none;

        -webkit-transition-property: background-color,color;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-timing-function: ease;

        transition-property: background-color,color;
        transition-duration: 0.25s;
        transition-timing-function: ease;

        &:hover,
        &.current{
          background-color: $brand;
          color: #fff;

          -webkit-transition-property: background-color,color;
          -webkit-transition-duration: 0.25s;
          -webkit-transition-timing-function: ease;

          transition-property: background-color,color;
          transition-duration: 0.25s;
          transition-timing-function: ease;
        }
      }
      &:last-child{
        a{
          border-right: 1px solid #726b67;
        }
      }
    }
  }
}
