

@include media-breakpoint-down(md) {
  body.menu-is-active {
    .main-menu-container {
      /* opacity: 1;*/
      /* visibility: visible;*/
      /* -webkit-transition: opacity .6s cubic-bezier(.23,1,.32,1),visibility .6s cubic-bezier(.23,1,.32,1);*/
      /* transition: opacity .6s cubic-bezier(.23,1,.32,1),visibility .6s cubic-bezier(.23,1,.32,1);*/

      /* -webkit-transition-property: opacity,visibility;*/
      /* -webkit-transition-duration: .6s;*/
      /* -webkit-transition-timing-function: ease;*/
      /* transition-property: opacity,visibility;*/
      /* transition-duration: .6s;*/
      /* transition-timing-function: ease;*/

      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      .main-menu {
        > li {
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: .6s;
          -webkit-transition-timing-function: $easeOutQuint;
          -webkit-transition-property: opacity,-webkit-transform;
          transition-property: opacity,-webkit-transform;
          transition-property: transform,opacity;
          transition-property: transform,opacity,-webkit-transform;
          transition-duration: .6s;
          transition-timing-function: $easeOutQuint;

          @for $i from 1 through 10{
            &:nth-child(#{$i}){
              -webkit-transition-delay: .05 * $i + s;
              transition-delay: .05 * $i + s;
            }
          }
        }
        a {

          /* &:after{*/
          /*   -webkit-transform: scale(1,1);*/
          /*   transform: scale(1,1);*/
          /*   -webkit-transition-property: transform;*/
          /*   -webkit-transition-duration: .8s;*/
          /*   -webkit-transition-timing-function: $easeInOutQuint;*/
          /*   transition-property: transform;*/
          /*   transition-duration: .8s;*/
          /*   transition-timing-function: $easeInOutQuint;*/
          /* }*/
        }


      }
    }
  }
  header {
    > *{
      -webkit-transform: none !important;
      transform: none !important;
    }
  }
}
/* Nav*/
.main-menu-container {
  /* display: -webkit-box;*/
  /* display: -ms-flexbox;*/
  /* display: flex;*/
  /* -webkit-box-pack: center;*/
  /* -ms-flex-pack: center;*/
  /* justify-content: center;*/
  font-size: 0;
  @include media-breakpoint-up(lg) {
    position: relative;
    /* margin-top: 40px;*/
    /* padding-bottom: 15px;*/
  }
  @include media-breakpoint-down(md) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* padding-bottom: 50px;*/
    /* @include fp(padding-bottom,50,100);*/
    left: 0;
    background: #2ec0cb;
        z-index: 10;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: auto;
    /* -webkit-transform: translateZ(0);*/
    /* transform: translateZ(0);*/
    /* opacity: 0;*/
    /* visibility: hidden;*/
    /* -webkit-transition-property: opacity,visibility;*/
    /* -webkit-transition-duration: .6s;*/
    /* -webkit-transition-timing-function: ease;*/
    /* transition-property: opacity,visibility;*/
    /* transition-duration: .6s;*/
    /* transition-timing-function: ease;*/
  }

}
.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  @include media-breakpoint-up(lg) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    &:before {
      content: '';
      position: absolute;
      background-color: $brand;
      left: 0;
      top: 100%;
      width: 100%;
      height: 30px;
      -webkit-transform-origin: center top;
      transform-origin: center top;
      -webkit-transform: scale(1,0);
      transform: scale(1,0);
      -webkit-transition-property: transform;
      -webkit-transition-duration: .4s;
      -webkit-transition-timing-function: $easeOutQuint;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: .4s;
      transition-timing-function: $easeOutQuint;
    }
    &.menu-is-expand{
      &:before{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        -webkit-transition-property: transform;
        -webkit-transition-duration: .4s;
        -webkit-transition-timing-function: $easeOutQuint;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: .4s;
        transition-timing-function: $easeOutQuint;
      }
    }
  }
  @include media-breakpoint-down(md) {
    /* @include fp(padding-left,32.5,65);*/
    /* @include fp(padding-right,32.5,65);*/
    padding: 100px 30px;
    position: relative;
    display: block;
    margin-left: auto;
  }

  li {
    display: inline-block;
    text-align: center;
    position: relative;
    @include media-breakpoint-up(lg) {
      /* margin-right: 55px;*/
      /* &:last-child {*/
      /*   margin-right: 0;*/
      /* }*/
    }
    @include media-breakpoint-down(md) {
      /* overflow: hidden;*/
      display: block;
      text-align: right;

    }

    &.has-children {
      position: relative;

      @include media-breakpoint-down(md) {
        &:after {
          content: "";
          position: absolute;
          left: 100%;
          top: 4px;
          margin-left: 10px;

          background-image: url(../img/icons/icon-caret-down.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 1em;
          height: 1em;
          font-size: 8px;

          /* @include fp(font-size,8,16);*/
          /* @include fp(margin-left,10,20);*/
          /* @include fp(top,4,8);*/
        }
      }
      ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @include media-breakpoint-up(lg) {
          position: absolute;
          top: 100%;
          padding: 0;
          z-index: 1;
          font-size: 0;
        }
        @include media-breakpoint-down(md) {
          margin-top: 6px;
          /* @include fp(margin-top,6,12);*/
        }
        li {
          @include media-breakpoint-up(lg) {
            position: relative;
            margin-right: 61px;
            &:after {
              content: "";
              position: absolute;
              top: 10px;
              right: -31px;
              display: block;
              background-color: #877e79;
              width: 1px;
              height: 10px;
              z-index: 1;
              -webkit-transform-origin: center top;
              transform-origin: center top;
              -webkit-transform: scale(1,0);
              transform: scale(1,0);
            }
            &:last-child {
              margin-right: 0;
              &:after {
                content: none;
              }
            }
          }
          a {
            @include media-breakpoint-up(lg) {
              padding-top: 10px;
              padding-bottom: 5px;
              opacity: 0;
              -webkit-transform: translate3d(0,-10px,0);
              transform: translate3d(0,-10px,0);
            }
            @include media-breakpoint-down(md) {
              color: #726b67;
              font-size: 15px;
              /* @include fp(font-size,15,30);*/
              line-height: 1.333;
            }
            &:hover{
              color: #fff;
            }
          }
        }

      }

      &.hover {
        @include media-breakpoint-up(lg) {
          > ul {
            /* display: block;*/
            opacity: 1;
            visibility: visible;

            li{
              &:after{
                -webkit-transform: scale(1,1);
                transform: scale(1,1);
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-transition-duration: .4s;
                transition-duration: .4s;
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
                -webkit-transition-timing-function: $easeOutQuint;
                transition-timing-function: $easeOutQuint;
              }
            }

            a {
              opacity: 1;
              -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
              -webkit-transition-property: opacity,-webkit-transform;
              transition-property: opacity,-webkit-transform;
              transition-property: transform,opacity;
              transition-property: transform,opacity,-webkit-transform;
              -webkit-transition-duration: .4s;
              transition-duration: .4s;
              -webkit-transition-timing-function: $easeOutQuint;
              transition-timing-function: $easeOutQuint;
            }
            @for $i from 1 through 10{
              li:nth-child(#{$i}){
                a{
                  -webkit-transition-delay: 0.1 + ( $i * 0.05) + s;
                  transition-delay: 0.1 + ( $i * 0.05) + s;
                }
              }
            }
          }
        }
      }
      &.selected {
        > ul {
          display: block;
        }
      }
    }

  }
  > li {
    @include media-breakpoint-up(lg) {
      position: static;
      padding-bottom: 15px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 26px;
      /* @include fp(padding-bottom,26,52);*/
      &:last-child {
        padding-bottom: 0;
      }
      opacity: 0;
      -webkit-transform: translate3d(0,50px,0);
      transform: translate3d(0,50px,0);
      -webkit-transition-property: transform,opacity;
      -webkit-transition-duration: .6s;
      -webkit-transition-timing-function: $easeOutQuint;
      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;
      transition-duration: .6s;
      transition-timing-function: $easeOutQuint;
    }
  }

  a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;

    @include media-breakpoint-up(lg) {
      color: #877e79;
      font-size: 15px;
    }

    @include media-breakpoint-down(md) {
      display: block;
      color: $white;
      font-size: 18px;
      /* @include fp(font-size,18,36);*/
    }
  }
}


.anim-line-bottom {
  @include media-breakpoint-up(lg) {
    a {
      position: relative;
      display: inline-block;
      &:after {
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: $brand;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
      }
      &:hover, &.current {
        color: $brand;
        &:after {
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
          opacity: 1;
        }
      }
    }
  }
}

/* animation*/

/* @include media-breakpoint-up(lg) {*/
/*   .main-menu{*/
/*     &.has-animate{*/
/*       a{*/
/*         -webkit-transform: translate3d(0,-100%,0);*/
/*         transform: translate3d(0,-100%,0);*/
/*         opacity: 0;*/
/**/
/*         -webkit-transition-property: none;*/
/*         transition-property: none;*/
/*       }*/
/*       &.main-menu-active{*/
/*         a{*/
/*           opacity: 1;*/
/*           -webkit-transform: translate3d(0,0,0);*/
/*           transform: translate3d(0,0,0);*/
/**/
/*           -webkit-transition-property: transform,opacity;*/
/*           -webkit-transition-duration: 1.2s;*/
/*           -webkit-transition-timing-function: $easeOutBack;*/
/**/
/*           -webkit-transition-property: opacity,-webkit-transform;*/
/**/
/*           transition-property: opacity,-webkit-transform;*/
/**/
/*           transition-property: transform,opacity;*/
/**/
/*           transition-property: transform,opacity,-webkit-transform;*/
/*           transition-duration: 1.2s;*/
/*           transition-timing-function: $easeOutBack;*/
/*         }*/
/*       }*/
/*       &.main-menu-left{*/
/*         li{*/
/*           &:nth-child(3){*/
/*             a{*/
/*               -webkit-transition-delay: .1s;*/
/*               transition-delay: .1s;*/
/*             }*/
/*           }*/
/*           &:nth-child(2){*/
/*             a{*/
/*               -webkit-transition-delay: .2s;*/
/*               transition-delay: .2s;*/
/*             }*/
/*           }*/
/*           &:nth-child(1){*/
/*             a{*/
/*               -webkit-transition-delay: .3s;*/
/*               transition-delay: .3s;*/
/*             }*/
/*           }*/
/*         }*/
/*       }*/
/*       &.main-menu-right{*/
/*         li{*/
/*           &:nth-child(1){*/
/*             a{*/
/*               -webkit-transition-delay: .1s;*/
/*               transition-delay: .1s;*/
/*             }*/
/*           }*/
/*           &:nth-child(2){*/
/*             a{*/
/*               -webkit-transition-delay: .2s;*/
/*               transition-delay: .2s;*/
/*             }*/
/*           }*/
/*           &:nth-child(3){*/
/*             a{*/
/*               -webkit-transition-delay: .3s;*/
/*               transition-delay: .3s;*/
/*             }*/
/*           }*/
/*         }*/
/*       }*/
/*     }*/
/*   }*/
/* }*/
