
@font-face {
  font-family: 'Calibre-Medium';
  src: url('Calibre-Medium.eot?#iefix') format('embedded-opentype'),  url('Calibre-Medium.otf')  format('opentype'),
	     url('Calibre-Medium.woff') format('woff'), url('Calibre-Medium.ttf')  format('truetype'), url('Calibre-Medium.svg#Calibre-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
