[ms-accordion]{
  list-style: none;
  padding: 0;
  margin: 0;
  a{
    display: block;
    @include fp(font-size, 12, 16);
    font-weight: normal;
    line-height: 1.25;
    padding: 0.688em 15px 0.250em;
    background-color: #fff;
    color: #726b67;
    text-transform: uppercase;
    border-bottom: 1px solid #d9e5e6;

    -webkit-transition-property: background-color,color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    transition-property: background-color,color;
    transition-duration: .3s;
    transition-timing-function: ease;
    &.active{
      background-color: $brand;
      color: #fff;

      -webkit-transition-property: background-color,color;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: ease;

      transition-property: background-color,color;
      transition-duration: .3s;
      transition-timing-function: ease;
    }
  }
  .accordion-list{
    overflow: hidden;
  }
  [ms-accordion-node]{
    // font-size: 15px;
    padding: 15px;
    color: #726b67;
    background-color: #c4d9da;
    p{
      margin: 0;
    }
  }
}
