

.btn {
  position: relative;
  display: inline-block;
  height: 30px;
  color: #3dc2cd;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
      padding-top: 9px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  span {
    position: relative;
    z-index: 1;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &:before {
    border: 2px solid currentColor;
  }
  &:after {
    background-color: currentColor;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover, &.current {
    span {
      color: $white;
    }
    &:after {
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  &.text-white {
    &:hover {
      span {
        color: #3dc2cd;
      }
    }
  }
}
