#page{
  opacity: 0;

  @include media-breakpoint-up(lg) {
    header{
     opacity: 0;
     -webkit-transform-origin: center bottom;
     -webkit-transform: translate3d(0,-50px,0);

     transform-origin: center bottom;
     transform: translate3d(0,-50px,0);
    }
    main{
      opacity: 0;
      -webkit-transform-origin: center top;
      -webkit-transform: scale(0.98) translate3d(0,100px,0);

      transform-origin: center top;
      transform: scale(0.98) translate3d(0,100px,0);
    }
  }


}
.loading-container{
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  z-index: 99999;
  background-color: #fff;

  .loading{
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    z-index: 2;
  }
}


body.loaded{
  #page{
    opacity: 1;
    @include media-breakpoint-up(lg) {
      header,main{
        opacity: 1;
        -webkit-transform: scale(1) translate3d(0,0,0);
        transform: scale(1) translate3d(0,0,0);

        -webkit-transition-property: -webkit-transform,opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: $easeOutQuart;

        transition-property: transform,opacity;
        transition-duration: 1s;
        transition-timing-function: $easeOutQuart;
      }
      header{
        -webkit-transition-delay: .7s;
        transition-delay: .7s;
      }
      main{
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
      }
    }
  }
  .loading-container{
    background-color: #00b2c0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);

    -webkit-transition-property: background-color,-webkit-transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: $easeInOutQuart;

    transition-property: background-color,transform;
    transition-duration: 1s;
    transition-timing-function: $easeInOutQuart;
  }
}
