[data-modal-trigger]{
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 100000;
  .va-outer{
    display: table;
    table-layout: fixed;
    width: 100%; height: 100%;
  }
  .va-inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%; height: 100%;
  }

  .modal-wrapper {
    /* position: relative;*/
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($black,0.7);
    cursor: pointer;
  }
  .modal-content {
    /* overflow: hidden;*/
    /* background: white;*/
    margin: 2em auto;
    padding: 0;
    /* padding-top: $section-padding-top + 3;*/
    /* padding-bottom: $section-padding-bottom + 3;*/
  }

  .modal-arrow {
    background-image: url(../img/bg/bg-arrow.png);
    background-repeat: repeat;
    background-color: transparent;
    width: 45px;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
    line-height: 0;
    padding: 0;
    border: 0;
    z-index: 99;
    cursor: pointer;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 80 / 45 * 100%;
    }
    svg {
      position: absolute;
      left: 0;
      top: 10%;
      width: 100%;
      height: 80%;
    }
    .modal-arrow-item {
      fill: $white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &.modal-next{
      right: 0;
    }
    &.modal-prev{
      left: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 37px;
      background: none;
      &:before {
        padding-top: 72 / 37 * 100%;
      }
      svg {
        top: 0;
        height: 100%;
      }
      .modal-arrow-item {
        fill: #d1d3d4;
      }
      &.modal-prev {
        left: 65px;
      }
      &.modal-next {
        right: 65px;
      }
    }
  }

  /* Close*/
  .modal-close-bt {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: block;
    background-color: $brand;
    border: 1px solid $white;
    z-index: 3;

    @include media-breakpoint-down(sm) {
      right: 15px;
      top: 15px;
    }

    svg {
      height: 100%;
      width: 100%;
      fill: $white;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    &.inside {
      top: -22px;
      right: -22px;
    }
  }

  [b-animation]{
    opacity: 0;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);

    &.active{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;

      -webkit-transition-timing-function: $easeOutQuart;
      transition-timing-function: $easeOutQuart;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
    }
  }
  &.prev-anim{
    [b-animation]{
      opacity: 0;
      -webkit-transform: translate3d(-100px,0,0);
      transform: translate3d(-100px,0,0);
      &.active{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: transform,opacity;
        transition-property: transform,opacity,-webkit-transform;

        -webkit-transition-timing-function: $easeOutQuart;
        transition-timing-function: $easeOutQuart;
        -webkit-transition-duration: .6s;
        transition-duration: .6s;
      }
    }
  }
  &.next-anim{
    [b-animation]{
      opacity: 0;
      -webkit-transform: translate3d(100px,0,0);
      transform: translate3d(100px,0,0);
      &.active{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: transform,opacity;
        transition-property: transform,opacity,-webkit-transform;

        -webkit-transition-timing-function: $easeOutQuart;
        transition-timing-function: $easeOutQuart;
        -webkit-transition-duration: .6s;
        transition-duration: .6s;
      }
    }
  }


  /* animation*/
  .modal-close-bt{
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  &.is-visible,
  &.active{

    .modal-close-bt{
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);

      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transition-timing-function: $easeOutCirc;
      transition-timing-function: $easeOutCirc;
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    &.skip-close{
      .modal-close-bt{
        -webkit-transition-property: none;
        transition-property: none;
      }
    }
  }
}

.video-container-modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none
}

.video-modal-close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 44px;
  height: 44px;
  background-color: $brand;
  border: 1px solid $white;
  cursor: pointer;
  display: block;
  z-index: 999999;
  color: transparent;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  @include media-breakpoint-down(sm) {
    right: 15px;
    top: 15px;
  }

  svg {
    height: 100%;
    width: 100%;
    fill: $white;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

/* Gallery*/
#gallery-modal {
  .modal-overlay {
    background-color: rgba($black,0.8);
  }
  .slick-arrow {
    margin-top: - 40px / 2;
    @include media-breakpoint-up(xl) {
      width: 37px;
      background: none;
      &:before {
        padding-top: 72 / 37 * 100%;
      }
      svg {
        top: 0;
        height: 100%;
      }
      .arrow-item {
        fill: #d1d3d4;
      }
      &.slick-prev {
        left: 50px;
      }
      &.slick-next {
        right: 50px;
      }
    }
  }

  .slick-slide img {
    margin: 0 auto;
  }


  .gallery-modal-block {
    text-align: center;

    .c-block {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      figure {
        background: transparent;
        &:before {
          padding-top: percentage(1396 / 2050) !important;
        }
        img {
          right: 0;
          width: auto;
        }

      }
      figcaption {
        position: relative;
        display: block;
        height: 40px;
        padding-top: 12px;
      }
    }

  }


  .modal-content{
    /* max-width: 960px;*/
    /* margin: 0 auto;*/
    .slick-initialized .slick-slide{
      position: relative;
      float: none;
      display: inline-block !important;
      vertical-align: middle;
    }
  }



  /* animation*/
  .modal-content{
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  &.active,
  &.is-visible{
    .modal-content{
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transition-timing-function: $easeOutCirc;
      transition-timing-function: $easeOutCirc;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
  }
}

// news modal
.news-modal {

  .modal-overlay {
    @include media-breakpoint-down(md) {
      background-color: $white;
    }
  }

  .modal-arrow {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
    &.modal-prev {
      @include media-breakpoint-down(lg) {
        left: 15px;
      }
    }
    &.modal-next {
      @include media-breakpoint-down(lg) {
        right: 15px;
      }
    }
  }

  .modal-outer {
    width: 100%;
    height: 100%;
    @include media-breakpoint-up(lg) {
      display: table;
      table-layout: fixed;

    }

  }
  .modal-inner {
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(lg) {
      display: table-cell;
      vertical-align: middle;
    }
    @include media-breakpoint-down(md) {

    }
  }
  .modal-container {
    width: 1366px;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .modal-content {
    position: relative;
    // height: 596px;

    @include media-breakpoint-up(lg) {
      &:before {
        content: "";
        display: block;
        padding-top: percentage(596 / 1108);
      }
    }

    @include media-breakpoint-down(md) {
      margin: 0;
      height: 100%;
    }
  }
  .modal-content-inner {
    background-color: $white;



    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 50px;
    }
    @include media-breakpoint-down(md) {
      padding: 30px;
      padding-top: 60px + 44;

    }
    @include media-breakpoint-down(sm) {
      padding: 15px;
      padding-top: 30px + 44;
    }
  }
  .news-modal-items {

    font-size: 0;
    @include media-breakpoint-up(lg) {
      margin-left: -20px;
      margin-right: -20px;
      height: 100%;
    }
    .news-modal-item {
      width: 100%;
      display: inline-block;
      vertical-align: top;

      @include media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
      }

    }

    .news-modal-gallery {
      @include media-breakpoint-up(lg) {
        width: 45%;
      }
    }
    .news-modal-content {
      @include media-breakpoint-up(lg) {
        width: 55%;
      }
    }

  }


  .events-slider {
    width: 100%;
    padding-bottom: 15px;
    @include media-breakpoint-up(lg) {
      height: 75%;

      .slick-list, .slick-track, .c-block, figure {
        height: 100%;
      }
    }
  }
  .events-thumb-slider {

    .slick-prev, .slick-next {
      width: 28px;
    }

    @include media-breakpoint-up(lg) {
      height: 25%;
      .slick-list, .slick-track, .c-block, figure {
        height: 100%;
      }
    }
    .slick-list {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }
    .slick-slide {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }


  .ratio-events-modal {
    figure {
      &:before {


        @include media-breakpoint-up(lg) {
          content: none;
        }
        @include media-breakpoint-down(md) {
          padding-top: percentage(378 / 428);
        }
      }
    }
  }


  .scrollbar-wrapper{
    position: relative;
    width: 100%;
    height: 100%;

    h6 {
      font-size: 18px !important;
      line-height: 1.111em;
    }
    p {
      text-indent: 35px;
      &:last-child {
        margin-bottom: 0;
      }
      &.date {
        text-align: right;
      }
    }
    ul {
      margin-top: 18px;
      li {
        @include fp(font-size, 12, 16);
        font-weight: normal;
        line-height: 1.25;
      }
    }
    table {
      width: 100%;
      text-align: left;
      th {
        white-space: nowrap;
        padding-right: 15px;
      }
      th,td {
        vertical-align: top;
      }
      p {
        text-indent: 0;
        margin: 0;
      }
    }
  }
  .scrollbar-wrapper>* {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: 30px - 2;
    }

  }

  .mCSB_scrollTools {
    width: 8px;
    .mCSB_draggerRail,.mCSB_dragger .mCSB_dragger_bar {
      width: 8px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .mCSB_draggerRail {
      background-color: $brand;
    }
    .mCSB_dragger .mCSB_dragger_bar {
      background-color: #808080;
    }
    .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
      background-color: #808080;

      filter: "alpha(opacity=100)";
      -ms-filter: "alpha(opacity=100)"
    }
  }
  .mCSB_outside+.mCSB_scrollTools {
    right: -25px - 4;
  }

  // animation
  .modal-content{
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  &.active,
  &.is-visible{
    .modal-content{
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition-property: -webkit-transform,opacity;
      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transition-timing-function: $easeOutCirc;
      transition-timing-function: $easeOutCirc;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
  }
}

/* Disclamer*/

#disclamer-modal{

  .disclamer-title {
    // font-family: $font-avenir-medium;
    // font-size: $font-size-base;
    font-weight: normal;
  }
  .modal-overlay {
    background-color: rgba($black,0.6);
  }
  .modal-content{
    background-color: #6ca0a3;
    padding: 30px 42px 30px 24px;
    p{
      color: $white;
    }

    .scrollbar-wrapper{
      position: relative;
      width: 100%;
      height: 518px - 60px;
      /* padding-top: 456 / 1037 * 100%;*/
      > * {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
      }
    }
  }

  .mCSB_scrollTools {
    width: 8px;
  }
  .mCSB_outside+.mCSB_scrollTools {
    right: -32px;
  }
  .mCSB_scrollTools .mCSB_draggerRail,
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 8px;
    border-radius: 0;
  }
  .mCSB_scrollTools .mCSB_draggerRail{
    background-color: #ffffff;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #00b2c0;
  }

  // animation
  [b-animation]{
    opacity: 0;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
  }
  &.is-visible{
    [b-animation]{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;

      -webkit-transition-timing-function: $easeOutQuart;
      transition-timing-function: $easeOutQuart;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
    }
  }
}

// promotion
#promotion-modal{
  [b-slider]{
    max-width: 800px;
    margin: 0 auto;
  }
  .slick-slide img{
    width: 100%;
    // max-width: 600px;
  }
  // animation
  [b-animation]{
    opacity: 0;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
  }
  &.is-visible{
    [b-animation]{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      -webkit-transition-property: opacity,-webkit-transform;
      transition-property: opacity,-webkit-transform;
      transition-property: transform,opacity;
      transition-property: transform,opacity,-webkit-transform;

      -webkit-transition-timing-function: $easeOutQuart;
      transition-timing-function: $easeOutQuart;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
    }
  }
}
