[ms-tab]{
  .tab-header-container{
    list-style: none;
    font-size: 0;
    text-align: center;
    padding: 0;
    margin-top: 40px - 4;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      margin-top: 30px - 2;
      margin-bottom: 30px;
    }
    &.tab-header-button{
      li{
        margin: 0 8px;
        a{
          // border-right: 1px solid #726b67;
        }
      }
    }
    li{
      display: inline-block;
      vertical-align: top;
      a{
        // background-color: #fff;
        // color: #726b67;
        // font-size: 16px;
        // line-height: 1em;
        // padding: 10px 30px 5px;
        // display: inline-block;
        //
        // border: 1px solid #726b67;
        // border-right: none;

        &:hover,
        &.current{
          // background-color: $brand;
          // color: #fff;
        }
      }
      &:last-child{
        a{
          // border-right: 1px solid #726b67;
        }
      }
    }
  }
}
