
@font-face {
  font-family: 'Calibre-Medium';
  src: url('../fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Medium.otf')  format('opentype'),
	     url('../fonts/Calibre-Medium.woff') format('woff'),
       url('../fonts/Calibre-Medium.ttf')  format('truetype'),
       url('../fonts/Calibre-Medium.svg#Calibre-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Calibre-Regular';
  src: url('../fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Calibre-Regular.otf')  format('opentype'),
	     url('../fonts/Calibre-Regular.woff') format('woff'),
       url('../fonts/Calibre-Regular.ttf')  format('truetype'),
       url('../fonts/Calibre-Regular.svg#Calibre-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MillerBanner-Roman';
  src: url('../fonts/MillerBanner-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MillerBanner-Roman.otf')  format('opentype'),
	     url('../fonts/MillerBanner-Roman.woff') format('woff'),
       url('../fonts/MillerBanner-Roman.ttf')  format('truetype'),
       url('../fonts/MillerBanner-Roman.svg#MillerBanner-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MillerBanner-Semibold';
  src: url('../fonts/MillerBanner-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MillerBanner-Semibold.otf')  format('opentype'),
	     url('../fonts/MillerBanner-Semibold.woff') format('woff'),
       url('../fonts/MillerBanner-Semibold.ttf')  format('truetype'),
       url('../fonts/MillerBanner-Semibold.svg#MillerBanner-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirLTStd-Book.otf')  format('opentype'),
  	   url('../fonts/AvenirLTStd-Book.woff') format('woff'),
       url('../fonts/AvenirLTStd-Book.ttf')  format('truetype'),
       url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ms';
  src:  url('../fonts/ms.eot?o0i6dx');
  src:  url('../fonts/ms.eot?o0i6dx#iefix') format('embedded-opentype'),
    url('../fonts/ms.ttf?o0i6dx') format('truetype'),
    url('../fonts/ms.woff?o0i6dx') format('woff'),
    url('../fonts/ms.svg?o0i6dx#ms') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrows:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-photo-camera:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-email:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\f095";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-cloudy:before {
  content: "\e900";
}
